* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

p,
h1 {
  text-align: center;
}

h1 {
  font-size: 1.8rem;
}

p {
  margin-top: 40px;
}

div {
  color: #333333;
}

main {
  position: relative;
}

main .container {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 800px;
  min-width: 800px;
  padding: 20px 0;
}

main .container div.top {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0 20px;
  background-color: #fff;
}

main .container div#tableHead {
  border-top: 1px solid #575757;
  font-weight: bold;
}

main .container div#tableHead,
main .container div.table {
  border-bottom: 1px solid #575757;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

main .container div#tableHead div.date,
main .container div#tableHead div.carNumber,
main .container div#tableHead div.driver,
main .container div#tableHead div.number,
main .container div.table div.date,
main .container div.table div.carNumber,
main .container div.table div.driver,
main .container div.table div.number {
  padding: 8px 10px;
  width: 14vw;
  min-width: 190px;
}

main .container div#tableHead div.number,
main .container div.table div.number {
  width: 6vw;
  min-width: 30px;
}

main .container div#tableHead button,
main .container div.table button {
  width: 40%;
  min-width: 83px;
  max-width: 83px;
  margin-left: 10px;
}

main .container div#tableHead button#buttonNew,
main .container div.table button#buttonNew {
  width: 80%;
  min-width: 176px;
  max-width: 176px;
}

#screen {
  position: absolute;
  top: -40px;
  width: 100%;
  height: 100vh;
  display: none;
  background-color: #575757;
  -webkit-animation-name: example0;
          animation-name: example0;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes example0 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.6;
  }
}

@keyframes example0 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.6;
  }
}

#screen.off {
  -webkit-animation-name: example00;
          animation-name: example00;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  display: none;
}

@-webkit-keyframes example00 {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 0;
  }
}

@keyframes example00 {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 0;
  }
}

#loader {
  position: absolute;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -220px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #eeeeee;
  -webkit-box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  min-width: 400px;
  display: none;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#loader h3 {
  width: 100%;
  text-align: center;
  padding: 20px;
  margin-top: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #333333;
}

#loader h3 {
  background-color: lightgreen;
}

#loader h3.red {
  background-color: lightcoral;
}

@-webkit-keyframes example {
  from {
    opacity: 0;
    top: 100px;
  }
  to {
    opacity: 1;
    top: 280px;
  }
}

@keyframes example {
  from {
    opacity: 0;
    top: 100px;
  }
  to {
    opacity: 1;
    top: 280px;
  }
}

#loader form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#loader form div {
  width: 100%;
}

#loader form div input,
#loader form div button {
  margin-bottom: 20px;
  min-width: 100%;
}

#loader form div input {
  border: 1px solid #575757;
  border-radius: 4px;
}

#loader #confirm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  display: none;
  margin: 40px 0;
}

#loader #confirm button {
  margin: 0 10px;
  max-width: 36%;
  min-width: 36%;
}

#loader #confirm #buttonYes {
  background-color: lightgreen;
  color: #333333;
}

#loader #confirm #buttonNo {
  background-color: lightcoral;
  color: #333333;
}

#loader.off {
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  display: none;
}

@-webkit-keyframes examplee {
  from {
    opacity: 1;
    top: 280px;
  }
  to {
    opacity: 0;
    top: 100px;
  }
}

@keyframes examplee {
  from {
    opacity: 1;
    top: 280px;
  }
  to {
    opacity: 0;
    top: 100px;
  }
}

button {
  border-radius: 4px;
  color: #eeeeee;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0.4rem 0;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

button:hover:not(:disabled) {
  background-color: #474C47;
}

button:active:not(:disabled) {
  background-color: #563E1E;
  -webkit-transform: translateX(1px) translateY(1px);
          transform: translateX(1px) translateY(1px);
}

button:not(#buttonDelete) {
  background-color: #333333;
}

button#buttonSave {
  background-color: lightgreen;
  color: #333333;
}

#buttonDelete {
  background-color: lightcoral;
  color: #333333;
}
