* {
    box-sizing: border-box;
}
body {
    width: 90%;
    margin:auto;
}
input, button {
    padding: 10px 20px;
}
button {
    border: none;
    background: #c46666;
    color: #ffffff !important;
    font-weight: 100;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    margin-left: 10px;
    }
button:hover {
    color: #c46666 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
    }
input:placeholder-shown {
    border: 3px solid red;
  }
select, option {
    padding: 10px 20px;
}
#inputs_wrap {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.figura {
    position: relative;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 5px;
    border: solid black 1px;
}
#figuros {
    display: flex;
    flex-wrap: wrap;
}
.blue {
    background-color: blue;
}
.red {
    background-color: red;
}
.brown {
    background-color: brown;
}
.grey {
    background-color:grey;
}