* {
    box-sizing: border-box;
}
body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 17%, rgba(0,212,255,1) 100%);
}
.container {
    text-align: center;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
input {
    padding: 10px;
    padding-right: 150px;
}
button {
    padding: 10px 25px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(228, 95, 95);
}
li {
    position: relative;
    list-style: none;
    background-color: #bfdfdc;
    background-repeat: no-repeat;
    border: 1px solid black;
    width: 50vw;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
li:hover {
    background-color: rgb(75, 87, 112);
}
ul li.checked {
    background-color: darkgrey;
    text-decoration: line-through;
    cursor: pointer;
  }
.close {
    position: absolute;
    right: 0;
    padding-right: 15px;
    color: rgb(228, 95, 95);
    font-weight: 800;
  }
