.car-list {
    .list-heading {
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            margin-bottom: -30px;
            text-transform: uppercase;

            &#car-count,
            &#win-name {
                margin-left: 15px;
                padding: 5px;
                color: #FFF;
                background-color: $black;
            }
            &#win-name {
                margin-left: 0;
                margin-right: 15px;
            }
        }
    }
    
    .container {
        > div {
            @include list-item;
        }
        .input-wrap {
            justify-content: center;
            input {
                width: 55%;
            }
            button {
                position: relative;
                width: 25%;

                &:hover::before {
                position: absolute;
                right: -35px;
                top: 10px;
                content: "\f11e";
                font: normal normal 900 28px/1 'Font Awesome 5 Free';
                color: #000;
                transform: rotate(20deg);
                }
            }
        }
    }

    #results {
        display: none;

        .list-heading {
            h2 {
                margin-bottom: 0;
            }
        }
        .winner {
            background-color: green;
            color: #FFF;

            &:before {
                position: absolute;
                right: 10px;
                color: gold;
                content: "\f091";
                font: normal normal 900 18px/1 'Font Awesome 5 Free';
                text-shadow: 1px 1px 2px $black;
            }
        }
    }
}