.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 960px;
    padding: 30px;
    margin: auto;
    border: 10px solid transparent;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    &:nth-child(2n-1){
        border-image: url(../img/flag.jpg) 5 round;
    }
}
.input-wrap {
    display: flex;
    width: 100%;
    input {
        @include input-style;
        width: 40%;
        &:focus {
            border-color: #FFF;
            outline: none;
        }
        &::placeholder {
            font-weight: 300;
        }
    }
    button {
        @include input-style;
        width: 20%;
        border: none;
        background-color: #000;
        text-transform: uppercase;
        transition: font-size ease 300ms, font-weight ease 300ms, background-color ease 300ms;
        &:focus {
            outline: none;
        }
        &:hover {
            cursor: pointer;
            background-color: #111;
            font-size: 0.875rem;
            font-weight: 700;
        }
    }
}