.header-wrap {
    width: fit-content;
    position: relative;
    margin-right: 150px;
    h1 {
        position: relative;
        text-transform: uppercase;
        font-size: 3rem;
        line-height: 2.75rem;
        text-align: right;
        z-index: 10;
        span {
            display: block;
            font-size: 4rem;
        }
    }
    img {
        position: absolute;
        right: -180px;
        top: 30px;
        display: block;
        z-index: 0;
    }
    .flag {
        position: absolute;
        left: 5px;
        top: 50px;
        background-image: url(../img/flag.jpg);
        background-repeat: repeat-x;
        height: 20px;
        width: 110px;
    }
}
