@mixin input-style {
    padding: 10px;
    border: 2px solid #000;
    color: #FFF;
    background-color: $black;
    border-right: none;
}

@mixin list-item {
    position: relative;
    width: 100%;
    padding: 10px 60px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;

    &:nth-child(2n) {
        background-color: $black;
        color: #FFF;
    }
}