.butonai {
    display: flex;
    justify-content: space-around;
    padding: 2em;

}
button {
    background-color: bisque;
    text-transform: uppercase;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 13px 18px 15px 3px rgba(173, 173, 105, 0.6);
}
table {
    border: 1px solid #000000;
    border-collapse: collapse;
    /* border-radius: 5px; */
    box-shadow: 16px 10px 16px 1px rgba(173, 173, 105, 0.6);
    
}

td {
    border: 1px solid #000000;
    background-color: rgb(243, 240, 237);
    padding: .5em;
}
td.max {
    /* border: solid 1px red; */
    background-color: rgb(236, 52, 52);
}
thead, th {
    border: 1px solid #000000;
    padding: .5em;
    background-color: rgb(245, 198, 140);
    text-transform: uppercase;
}
#turiai {
    display: none;
}
.lentos {
    display: flex;
    justify-content: center;
}
