h1 {
    position: relative;
    font-size: 2.5rem;
    margin: 0;
}
h2 {
    position: relative;
    left: 0;
    margin: 0;
    margin-bottom: 20px;
    font-style: italic;
    font-weight: 300;
    text-align: left;
}
h6 {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
}

.heading-wrap {
    position: relative;
    width: fit-content;
    text-align: center;

    .white-h-line {
        position: relative;
        left: -40px;
        width: 160px;
        height: 1rem;
        border: 1px solid #FFF;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: $white;
    }
}

.instruction-wrap {
    position: relative;
    margin-top: 60px;
    padding: 20px 40px;
    border: 2px solid #FFF;
    border-radius: 20px;
    background-color: $white;

    ul {
        list-style-type: disc;
        padding-left: 20px;

        li {
            font-style: italic;
            margin-bottom: 15px;

            span {
                display: inline-block;
                padding: 2px 4px;
                background-color: #333;
                color: #FFF;
                border: 1px solid #FFF;
                border-radius: 3px;
            }
        }
    }
}