body {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: lightblue;
}

.section {
    width: 100%;
    
    .container {
        width: 100%;
        max-width: 1200px;
        padding: 0 30px;
        margin: 50px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.input.section {
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;

    .input-wrap {
        display: flex;
        justify-content: space-between;
        margin: 0 30px;
        width: 100%;
        max-width: 500px;

        input {
            @include input-style;
            background-color: $white;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
            font-size: 1rem;
            width: 100%;                
            color: $text;
            border-right: none;

            &::placeholder {
                color: #999;
                letter-spacing: 1px;
            }

            &:focus {
                outline: none;
                border-color: teal;
            }
        }
        button {
            @include input-style;
            background-color: teal;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            font-size: 1rem;
            color: #FFF;
            text-transform: uppercase;
            border: none;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
                background-color: darkslategray;
            }
            &:focus {
                outline: none;
            }
        }
    }
}

.list.section {
    .list-heading {
        transition: all ease 500ms;
    }

    .list-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;

        .task {
            @include input-style;
            width: fit-content;
            border-radius: 30px;
            border-color: teal;
            background-color: $white;
            font-size: 1rem;
            cursor: pointer;
            margin-bottom: 5px;
            transition: all ease 500ms;

            &:hover {
                border-color: $text;
            }

            &.done {
                border-color: #FFF;
                background-color: lightgreen;
                color: #999;
                text-decoration: line-through;
            }

            i {
                color: teal;
                margin-left: 10px;
                transition: color ease 500ms, border-color ease 500ms;

                &:hover {
                    cursor: pointer;
                    color: $text;
                }
            }
        }
    }
    
}