@mixin list-item {
    border-radius: 10px;
    border: 2px solid #FFF;
    background-color: $white;
    color: #444;
    padding: 15px 25px;
    margin-bottom: 15px;
}

@mixin input-style {
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #FFF;
    line-height: 1rem;
    padding: 15px;
    transition: all ease 500ms;
}