* {
    box-sizing: border-box;
    font-family: sans-serif;
}
.container {
    max-width: 1000px;
    padding: 15px;
    margin: auto;
    border-bottom: 1px solid lightgray;
    margin-bottom: 50px;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
}
.form {
    margin: auto;
    width: 50%;
    min-width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
input, button {
    width: 350px;
    padding: 5px;
    height: 30px;
}
.form #submit {
    background-color: lightgreen;
    border: none;
    cursor: pointer;
    margin-bottom: 5px;
}
.form #delete {
    background-color: salmon;
    border: none;
    cursor: pointer;
}
.field {
    margin-bottom: 15px;
    position: relative;
}
.delete-field {
    width: 350px;
    display: flex;
}
.field label {
    position: absolute;
    width: 150px;
    left: -160px;
    line-height: 30px;
    text-align: right;
    font-weight: 700;
    text-transform: uppercase;
}
.duomenys {
    display: flex;
    justify-content: center;
}
#lentele {
    border-collapse: collapse;
    border-spacing: 0;
}
#lentele th,td {
    padding: 5px;
    border: 1px solid teal
}