*
table
{
  border-collapse: collapse;
/*   border: 1px solid #2f2f2f; */
}

table thead th 
{
  width: 150px;
  text-align: center;
}

table thead th:first-child
{
  width: 20px;
}

table tbody tr td 
{
  text-align: center;  
}

input
{
  margin-bottom: 10px;
}