* {
    box-sizing: border-box;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(244, 248, 248);
}
.wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
#naujas {
    font-size: 2rem;
    padding: .5em 1em;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    box-shadow: 26px 26px 34px #808080;
    color: #ffffff;
    text-align: center;
}

#forma{
    
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
    background-color: rgb(53, 89, 206);
    color: rgb(240, 245, 255);
    margin: 0 auto;
    

}

.l_td {
    border-right: none;
}
.r_td {
    border-left: none;
}
.elem {
    display: flex;
    justify-content: center;
    align-items: center;
}
label {
    width: 45%;
    text-align: right;
}

input {
    width: 45%;

}
button {
    display: block;
    margin-top: 2em;
    margin-right: auto;
    margin-left: auto;

}
#lentele {
    display: none;
}
table, th, td {
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
    padding:10px;
    margin-top: 2em;
    margin-right: auto;
    margin-left: auto;
}
thead {
    background-color: rgb(238, 238, 238);
    text-transform: uppercase;
}
#exampleModal1 {
    display: none;
}
