* {
    box-sizing: border-box;
}
.spalva {
    background-color: blueviolet;
}
.mygtukai {
    margin-left: 25px;
    margin-top: 50px;
}

button {
    padding: 10px;
    font-size: 20px;
    font-family: fantasy;
}
#Max {
    margin-left: 25px;
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
}
#Max:hover {
    color: #ffffff !important;
    background: #f6b93b;
    border-color: #f6b93b !important;
    transition: all 0.4s ease 0s;
}
#Pagrindinis {
    margin-left: 25px;
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
}
#Pagrindinis:hover {
    color: #ffffff !important;
    background: #308f1d;
    border-color: #308f1d !important;
    transition: all 0.4s ease 0s;
}
table {
    margin-left: 50px;
    margin-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
tr, td {
    border: 2px solid #000;
    text-align: center;
    
}
th {
    font-size: 30px;
    padding-left: 18px;
}
td {
    padding: 40px;
    font-size: 30px;
}