* {
    box-sizing: border-box;
}

#myData,
#autoNumber,
#autoDistance,
#autoTime {
    border-radius: 10px;
    border-color: blueviolet;
    text-align: center;
    width: 15%;
}

button {
    background-color: cornflowerblue;
    border-radius: 10px;
    color: white;
}

#myTable {
    border-color: violet;
    border-width: 3px;
    color: rgb(49, 34, 63);
}