#spin {
    margin-top: 50px;
    margin-left: 90px;
    display: none;
    width: 30px;
    height: 30px;
    background-color: #eb2e15be;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    /* transform: rotate(3deg); */
     /* transform: rotate(0.3rad);/ */
     /* transform: rotate(3grad); */ 
     /* transform: rotate(.03turn);  */
  }
  
  @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(1080deg);
      }
  }

  form {
      width: 220px;
      margin: auto;
      margin-top: 50px;
  }

  input {
      margin: 5px;
  }

  p {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
  }