* {
box-sizing: border-box;
}
table {
    border: 1px solid black;
}

td {
    border: 1px solid black;
    padding: 0 10px;
}
#table_2 {
    border: 1px solid black;
}

p {
    font-size: 50px;
    color: red;
}