
*{
    box-sizing: border-box;
}


#sukurtiElementai {
    display: flex;
    flex-wrap: wrap;
}
.violetine {
    background-color: violet;
}

.melyna {
    background-color: blue;
}

.raudona {
    background-color: red;
}

.zalia {
    background-color: green;
}

.geltona {
    background-color: yellow;
}

.divai {
    border-radius: 100%;
    width: 1px !important;
    height: 1px !important;
    transition: linear 3s;
}