* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

p,
h1 {
  text-align: center;
}

p {
  margin-top: 40px;
}

div {
  color: #333333;
}

main button {
  width: 100%;
  border-radius: 4px;
  background-color: #242424;
  color: #eeeeee;
  height: 48px;
  cursor: pointer;
  border: none;
  outline: none;
  margin: 10px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

main button:hover {
  background-color: #474C47;
}

main button:active {
  -webkit-transform: translateX(1px) translateY(1px);
          transform: translateX(1px) translateY(1px);
}

main .container {
  margin: 0 auto;
  margin-top: 40px;
  width: 920px;
}

main .container section {
  display: none;
  margin-top: 40px;
  position: relative;
  border: 1px solid darkgrey;
  border-radius: 4px;
  padding: 40px 24px;
  margin-bottom: 10px;
}

main .container section div.top {
  position: absolute;
  top: 0;
  right: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0 20px;
  background-color: #fff;
  text-align: center;
}

main .container section div.top.wide {
  width: 210px;
}

main .container section div.top:not(.wide) {
  width: 120px;
}

main .container table {
  border-collapse: collapse;
  width: 100%;
  position: relative;
}

main .container table tr {
  border: 1px solid #575757;
}

main .container table tr:nth-child(even) {
  background-color: #cfe0d0;
}

main .container table tr:hover {
  color: #eeeeee;
  background-color: #474C47;
}

main .container table tr th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #474C47;
  color: #eeeeee;
  font-size: smaller;
}

main .container table tr td,
main .container table tr th {
  text-align: center;
  width: 18%;
  padding: 12px;
}

main .container table tr td:nth-child(6),
main .container table tr th:nth-child(6) {
  width: 10%;
  color: #e63946;
}

main .container table tr td {
  position: relative;
  border: 1px solid #575757;
}

main .container table tr td.max {
  color: #eeeeee;
  font-size: large;
  background-color: #e63946;
  font-weight: bold;
}

main .container table tr td.max::after {
  content: "max";
  display: block;
  color: #eeeeee;
  text-align: center;
  position: absolute;
  top: 25%;
  left: 20px;
  font-size: 18px;
  z-index: 1;
}
