*{
    box-sizing: border-box;
}
#perkelta_data, #perkeltas_numeris, #perkeltas_atstumas, #perkeltas_laikas {
    background-color: greenyellow;
    border: 1px black solid;
    width: 200px;
    height: 25px;
    margin-left: 50px;
    text-align: center;
}

