@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 960px;
  padding: 30px;
  margin: auto;
  border: 10px solid transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.container:nth-child(2n-1) {
  -o-border-image: url(../img/flag.jpg) 5 round;
     border-image: url(../img/flag.jpg) 5 round;
}

.input-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.input-wrap input {
  padding: 10px;
  border: 2px solid #000;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.7);
  border-right: none;
  width: 40%;
}

.input-wrap input:focus {
  border-color: #FFF;
  outline: none;
}

.input-wrap input::-webkit-input-placeholder {
  font-weight: 300;
}

.input-wrap input:-ms-input-placeholder {
  font-weight: 300;
}

.input-wrap input::-ms-input-placeholder {
  font-weight: 300;
}

.input-wrap input::placeholder {
  font-weight: 300;
}

.input-wrap button {
  padding: 10px;
  border: 2px solid #000;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.7);
  border-right: none;
  width: 20%;
  border: none;
  background-color: #000;
  text-transform: uppercase;
  -webkit-transition: font-size ease 300ms, font-weight ease 300ms, background-color ease 300ms;
  transition: font-size ease 300ms, font-weight ease 300ms, background-color ease 300ms;
}

.input-wrap button:focus {
  outline: none;
}

.input-wrap button:hover {
  cursor: pointer;
  background-color: #111;
  font-size: 0.875rem;
  font-weight: 700;
}

.header-wrap {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  margin-right: 150px;
}

.header-wrap h1 {
  position: relative;
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 2.75rem;
  text-align: right;
  z-index: 10;
}

.header-wrap h1 span {
  display: block;
  font-size: 4rem;
}

.header-wrap img {
  position: absolute;
  right: -180px;
  top: 30px;
  display: block;
  z-index: 0;
}

.header-wrap .flag {
  position: absolute;
  left: 5px;
  top: 50px;
  background-image: url(../img/flag.jpg);
  background-repeat: repeat-x;
  height: 20px;
  width: 110px;
}

.car-list .list-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.car-list .list-heading h2 {
  margin-bottom: -30px;
  text-transform: uppercase;
}

.car-list .list-heading h2#car-count, .car-list .list-heading h2#win-name {
  margin-left: 15px;
  padding: 5px;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.7);
}

.car-list .list-heading h2#win-name {
  margin-left: 0;
  margin-right: 15px;
}

.car-list .container > div {
  position: relative;
  width: 100%;
  padding: 10px 60px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.car-list .container > div:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.7);
  color: #FFF;
}

.car-list .container .input-wrap {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.car-list .container .input-wrap input {
  width: 55%;
}

.car-list .container .input-wrap button {
  position: relative;
  width: 25%;
}

.car-list .container .input-wrap button:hover::before {
  position: absolute;
  right: -35px;
  top: 10px;
  content: "\f11e";
  font: normal normal 900 28px/1 'Font Awesome 5 Free';
  color: #000;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.car-list #results {
  display: none;
}

.car-list #results .list-heading h2 {
  margin-bottom: 0;
}

.car-list #results .winner {
  background-color: green;
  color: #FFF;
}

.car-list #results .winner:before {
  position: absolute;
  right: 10px;
  color: gold;
  content: "\f091";
  font: normal normal 900 18px/1 'Font Awesome 5 Free';
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(45deg, orange, gold, orange);
  background-attachment: fixed;
}
