* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
}

body {
  background-color: black;
  color: wheat;
  text-align: center;
}

.data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.data div {
  width: 50%;
  padding: 5px 0;
}

.fastest {
  background-color: #02144e;
}

.results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.results div {
  width: 50%;
}
/*# sourceMappingURL=lenktynes.css.map */