input {
    display: flex;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 18px;
    border: 2px solid grey;
}
   

button {
    margin-top: 55px;
    margin-left: 710px; 
    padding: 10px;
    font-size: x-large;
    font-weight: 700;
    font-family: sans-serif;  
    background-color: #97db48; 
}

td, th {
    
    border: solid 2px grey;
}
table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}