* {
    box-sizing: border-box;
}
body {
    background-color: #0b2879;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.ivesta {
    height: 30px;
    width: 400px;
    background-color: rgb(91, 136, 235);
}
.greiciausias {
    color: darkred;
    font-weight: 800;
}

#forma1 {
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 32px;

}
input {
    margin: 16px 0;
    padding: 8px 16px;
    border-radius: 5px;
}
button {
    padding: 8px 16px;
    background-color: #0c3b3b;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 700;
    outline: none;
    border-radius: 5px;
}
#rezultatai {
    background-color: rgb(240, 223, 128);
    width: 25vw;
    margin-left: 150px;
}