@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");
button {
  display: block;
  min-width: 100px;
  border-radius: 10px;
  border: none;
  padding: 10px 15px;
  color: #FFF;
  font-weight: 300;
  text-transform: lowercase;
  cursor: pointer;
  -webkit-transition: all ease 100ms;
  transition: all ease 100ms;
}

button:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

button:focus {
  outline: none;
}

button:active {
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.4);
}

button:nth-child(2) {
  margin-left: 20px;
}

button#add-btn, button#remove-btn {
  background-color: #3e85c7;
  position: relative;
  margin: auto;
  margin-top: 20px;
}

button#remove-btn {
  background-color: tomato;
}

button.confirm {
  background-color: #7ece5a;
}

button.cancel {
  background-color: tomato;
}

button.edit {
  background-color: #c9b548;
}

section {
  border-top: 2px solid #3e85c7;
  border-bottom: 2px solid #3e85c7;
  margin-top: 20px;
}

section #container {
  width: 100%;
  max-width: 960px;
  padding: 30px;
  margin: auto;
}

section #container .item, section #container .item .btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 10px;
}

section #container .item[class=item]:nth-child(2n), section #container .item .btn-wrap[class=item]:nth-child(2n) {
  background-color: lightcyan;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal .modal-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border-radius: 15px;
  border: 2px solid #3e85c7;
  width: 80%;
  max-width: 720px;
}

.modal .modal-wrap form {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.modal .modal-wrap input {
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
}

.modal .modal-wrap input::-webkit-input-placeholder {
  font-style: italic;
}

.modal .modal-wrap input:-ms-input-placeholder {
  font-style: italic;
}

.modal .modal-wrap input::-ms-input-placeholder {
  font-style: italic;
}

.modal .modal-wrap input::placeholder {
  font-style: italic;
}

.modal .modal-wrap .btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.modal#confirmation-modal .modal-wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  max-width: 360px;
}

.modal#confirmation-modal .modal-wrap p {
  text-align: center;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}
