*{
    box-sizing: border-box;
}

.red {
    background-color: red;
    height: 300px;
    width: 300px;
    transition: all ease 1s;
    margin: auto;
    margin-top: 200px;
}

.green {
    background-color: green;
    border-radius: 100%;
}