table, thead, th, td, tr {
  border: solid 2px #000;
  text-align: center;
}

button {
  padding: 10px;
  margin: 20px 20px;
}

table {
  margin: 20px;
}

.raudona {
  background-color: #e05454;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */