* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1200px;
  padding: 15px;
  margin: auto;
  font-family: sans-serif;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .btn-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 40px;
}

.container .btn-wrap button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
}

.container .btn-wrap .calculate {
  background-color: tomato;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table td, table th {
  border: 1px solid teal;
  padding: 10px;
  text-align: center;
}

table td {
  color: slateblue;
}

table td:last-child {
  color: maroon;
  font-weight: 700;
}

table .red {
  background-color: salmon;
}

table .red td {
  color: #FFF;
}

table .red td:last-child {
  font-style: italic;
  text-decoration: underline;
}
