* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.first_color {
  background-color: #ac792dd1;
  width: 80px;
  height: 80px;
  font-size: 50px;
  text-align: center;
}

.second_color {
  background-color: #f8cb67c2;
  width: 80px;
  height: 80px;
  font-size: 50px;
  text-align: center;
}

.board_container {
  width: 680px;
  height: 680px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: 20px solid burlywood;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
