* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

p,
h1 {
  text-align: center;
}

h1 {
  font-size: 1.8rem;
}

p {
  margin-top: 40px;
}

div {
  color: #333333;
}

main .container {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 960px;
  position: relative;
  border: 2px solid darkgrey;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .container div.top {
  position: absolute;
  top: 0;
  padding: 0 20px;
  background-color: #fff;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

main .container input,
main .container select {
  border: 1px solid #333333;
  outline: none;
  border-radius: 4px;
  margin: 10px 0;
  min-width: 180px;
  max-width: 180px;
  height: 36px;
  padding: 0 20px;
  -webkit-appearance: none;
}

main .container input:nth-child(2), main .container input:nth-child(3),
main .container select:nth-child(2),
main .container select:nth-child(3) {
  margin-left: 10px;
}

main .container option#c1 {
  background-color: Brown;
}

main .container option#c2 {
  background-color: DarkBlue;
}

main .container option#c3 {
  background-color: DarkGreen;
}

main .container option#c4 {
  background-color: Indigo;
}

main .container option#c5 {
  background-color: OrangeRed;
}

main .container option#c6 {
  background-color: Gold;
}

main .container button {
  min-width: 120px;
  max-width: 120px;
  width: 20%;
  height: 3rem;
  border-radius: 4px;
  background-color: #242424;
  color: #eeeeee;
  height: 36px;
  cursor: pointer;
  border: none;
  outline: none;
  margin: 10px;
  padding-left: 0;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

main .container button:hover:not(.disabled) {
  background-color: #474C47;
}

main .container button:active:not(.disabled) {
  background-color: #563E1E;
  -webkit-transform: translateX(1px) translateY(1px);
          transform: translateX(1px) translateY(1px);
}

main .parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}
