html, body {
    width:100%;
    height:100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
div * {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.turn {
    max-width: 451px;
    max-height: 30px;
    width: 100%;
    height: 100%;
    position: relative;
    float:left;
    border-right:5px;
    border:1px solid rgba(0,0,0);
    border-style: inset;
    text-align: center;
    background:#fff;
    transition: .85s linear;

}

#game {
    max-height: 504px;
    max-width: 504px;
    width:100%;
    height: 100%;
    position: relative;
    margin:20px auto;
}
.cellprefix {
    width:100%;
    height:100%;
    max-height: 50px ;
    max-width: 50px;
    float:left;
    margin:3px;
    padding:15px 0 0 20px;
}
.gamecell {
    border:1px solid #00a4a2;
    width:100%;
    height:100%;
    max-width:50px;
    max-height:50px;
    float:left;
    margin:3px;
    transition:all 0.5s ease-in-out;
    border-radius:5px;
    padding:0 0 0 6px;
    font-size: 30pt;
    cursor: pointer;
    z-index: 1;
}
.gamecell:hover {
    color:#fff;
    background:rgba(37, 88, 228,0.6);
    z-index: 2;
    transform:translate(10px, -10px);
    animation: solution 1.5s ease-in-out infinite alternate;

}
.grey {
    background: rgba(128 , 128, 128, 0.8);
}



