* {
    box-sizing: border-box;
}
ul {
    margin: 0;
    padding: 0;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #CD2B63;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
ul li:nth-child(odd) {
    background: #1F1897;
}
ul li:hover{
    background: #8A4D40;
}
ul li:checked {
    background: #57AC42;
}
ul li.checked::before{
    content: '';
    position: absolute;
    border-color: aquamarine;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}
.close:hover {
    background-color: #f44336;
    color: white;
}
.header{
    background-color: aquamarine;
    padding: 30px 40px;
    color: white;
    text-align: center;
}
.header:after{
    content: "";
    display: table;
    clear: both;
}
input{
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}
.addBtn {
    padding: 10px;
    width: 25%;
    background: burlywood;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 0;
}
.addBtn:hover{
    background-color: #bbb;
}