*{
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 20px;
    margin-left: 5px;
}
option{
    font-size: 20px;
    margin-left: 5px;
}
button{
    font-size: 20px;
    margin-left: 5px;
}
select{
    font-size: 20px;
    margin-left: 5px;
}
input{
    font-size: 20px;
    margin-left: 5px;
}
label{
    font-size: 20px;
    margin-left: 5px;
}
.field{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}