
* {
    box-sizing: border-box;
}
.body {
    position: relative;
}

.mygtukas {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.mygtukas > button {
    padding: 5px 15px;
    border: 2px solid lightseagreen;
    border-radius: 15px;
}

#table {
    width: 80%;
    margin: auto;
    border: 1px solid lightseagreen;
}

table th {
    border: 1px solid lightseagreen;
    width: 25%;
}
table tr {
    text-align: center;
}
table tr:nth-child(even){
    color: white;
    background-color: lightseagreen;
}

table th:nth-child(4){
    width: 12.5%;
    background-color: green;
}
table th:nth-child(5){
    width:  12.5%;
    background-color: red;
}
table td:nth-child(4){
    width: 12.5%;
    background-color: white;
}
table td:nth-child(5){
    width:  12.5%;
    background-color:white;
}
.modal{
    position: fixed;
    top: 300px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    border: none;
}



.modalas {
    position: fixed;
    top: 300px;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    width: 80%;
    margin: auto;
    background-color: lightgray;
    border:1px solid lightseagreen;
    border-radius: 5px;
}
.modalas > div {
    display: flex;
    /* justify-content: space-between; */
}


.modalas > div > input {
    width: 25%;
}

.modalas > div > input:nth-child(4){
    width: 12.5%;
}
.modalas > div > input:nth-child(5){
    width: 12.5%;
}
.modalas > div > input:nth-child(6){
    width: 12.5%;
}

.btnTaisyti {
    display: none;
}

.modalasIstrinti {
    display: none;
}


