@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: teal;
  font-family: 'Montserrat', sans-serif;
}

.pw-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-top: 100px;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 3px solid #FFF;
  background-color: rgba(255, 255, 255, 0.3);
  overflow: hidden;
}

.pw-wrap label {
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.75rem;
  letter-spacing: 1px;
  color: #FFF;
  margin-bottom: 5px;
}

.pw-wrap input {
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
}

.pw-wrap input[type=password] {
  letter-spacing: 2px;
  font-weight: 700;
}

.pw-wrap input[type=password].error {
  border: 2px solid red;
}

.pw-wrap input:focus {
  outline: none;
  background-color: lightskyblue;
}

.pw-wrap input#submit-pw {
  margin-top: 15px;
  margin-bottom: 0;
  background-color: white;
  text-transform: uppercase;
}

.pw-wrap input#submit-pw:hover {
  cursor: pointer;
  background-color: lightgreen;
  letter-spacing: 16px;
}

.pw-wrap .load-wrap {
  position: absolute;
  z-index: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 500px;
  height: 240px;
  -webkit-clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
          clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
}

.pw-wrap .load-wrap.show {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.pw-wrap .load-wrap .spinner {
  position: absolute;
  z-index: 10;
  top: 0;
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.pw-wrap .load-wrap .spinner > div {
  background-color: #FFF;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.pw-wrap .load-wrap .spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.pw-wrap .load-wrap .spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.pw-wrap .load-wrap .spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.pw-wrap .load-wrap .spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

footer {
  position: absolute;
  width: 100%;
  bottom: 20px;
  color: #FFF;
  font-size: 0.75rem;
  text-align: center;
}

footer span {
  display: inline-block;
  margin-left: 2px;
  text-transform: uppercase;
}
