*{
    box-sizing: border-box;
    /* outline: 2px red solid; */
}
h3, h4 {
    color: red;
    text-align: center;
}

.lenta {
    height: 450px;
    width: 450px;
    position: center;
    margin: auto;
    border-bottom: black 1px solid;
}
.lenta_lower {
    height: 400px;
    width: 451px;
    display: flex;
    flex-wrap: wrap;
}
.lenta_play {
    height: 401px;
    width: 401px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: black 1px solid;
    border-right: black 1px solid;
}
.w_cell {
    background-color: white;
    height: 50px;
    width: 50px;
    text-align: center;
}
.b_cell {
    background-color: skyblue;
    height: 50px;
    width: 50px;
    text-align: center;
}
.raides {
    height: 50px;
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.r_0, .r_a, .r_b, .r_c, .r_d, .r_e, .r_f, .r_g, .r_h {
    height: 50px;
    width: 50px;
    background-color: rgb(240, 250, 117);
    border: black 1px solid;
    text-align: center;
    font-size: 40px;
}
.skaiciai {
    height: 400px;
    width: 50px;
    display: flex;
    flex-direction: column;
}
.s_1, .s_2, .s_3, .s_4, .s_5, .s_6, .s_7, .s_8 {
    height: 50px;
    width: 50 px;
    background-color: rgb(250, 250, 117);
    border: black 1px solid;
    text-align: center;
    font-size: 40px;
}
span {
    font-size: 45px;
    text-align: center;
}
.figura {
    font-size: 40px;
}
.steps .span{
    font-size: 5px
}