h2,
h4 {
    text-align: center;
}

h2 {
    color: blueviolet;
}

h4 {
    color: coral;
}

.kvadratas {
    width: 500px;
    height: 500px;
    background-color: crimson;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    margin: auto;
}