* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

p,
h1 {
  text-align: center;
}

h1 {
  font-size: 1.8rem;
}

p {
  margin-top: 40px;
}

div {
  color: #333333;
}

main .container {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 960px;
}

main .container section {
  position: relative;
  border: 2px solid darkgrey;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

main .container section:nth-child(1) {
  border-bottom: 0;
  height: 24vh;
  min-height: 240px;
}

main .container section:nth-child(2) {
  margin-top: 0px;
  border-top: 0;
  height: 56vh;
}

main .container section div.top {
  position: absolute;
  top: 0;
  padding: 0 20px;
  background-color: #fff;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

main .container section label {
  letter-spacing: 1px;
  font-size: .64rem;
  margin-top: 10px;
}

main .container section select {
  min-width: 340px;
  max-width: 340px;
}

main .container section button {
  width: 40%;
  height: 3rem;
  border-radius: 4px;
  background-color: #333333;
  height: 36px;
  cursor: pointer;
  border: none;
  outline: none;
  margin: 10px;
  padding-left: 0;
  padding-right: 0;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

main .container section button:hover:not(:disabled) {
  background-color: #474C47;
}

main .container section button:active:not(:disabled) {
  background-color: #563E1E;
  -webkit-transform: translateX(1px) translateY(1px);
          transform: translateX(1px) translateY(1px);
}

main .container section button#set {
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 340px;
  max-width: 340px;
  text-align: center;
  color: #eeeeee;
}

main .container section button#set:disabled {
  cursor: default;
  color: #575757;
  opacity: .4;
}

main .container section button#True,
main .container section button#False {
  color: #333333;
}

main .container section #quizBoard,
main .container section #quizSelect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

main .container section #quizBoard > div,
main .container section #quizSelect > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
}

main .container section #quizBoard > div#count {
  padding: 20px;
  margin-bottom: 40px;
}

main .container section #quizBoard > div#buttons {
  font-size: 1.4rem;
  margin-top: 2.2rem;
  display: none;
}

main .container section #quizBoard > div#buttons button#True {
  margin-top: 32px;
  border-radius: 30px;
  min-width: 140px;
  max-width: 140px;
  margin-right: 24px;
  height: 4rem;
  background-color: lightgreen;
}

main .container section #quizBoard > div#buttons button#True:active:not(.disabled) {
  background-color: #7ded7d;
  -webkit-transform: translateX(1px) translateY(1px);
          transform: translateX(1px) translateY(1px);
}

main .container section #quizBoard > div#buttons button#False {
  margin-top: 32px;
  border-radius: 30px;
  min-width: 140px;
  max-width: 140px;
  margin-left: 24px;
  height: 4rem;
  background-color: lightcoral;
}

main .container section #quizBoard > div#buttons button#False:active:not(.disabled) {
  background-color: #ef6e6e;
  -webkit-transform: translateX(1px) translateY(1px);
          transform: translateX(1px) translateY(1px);
}

main .container section #quizBoard > div#result p {
  font-size: 6rem;
  margin: 0;
  color: #e63946;
}

main .container section #question {
  max-width: 60%;
  min-width: 260px;
  height: 3.8rem;
  margin: 0 20px;
  padding: 0 40px;
  font-size: 1.4rem;
  text-align: center;
  line-height: 1.6;
}

main .container section #question p {
  margin: 0;
}

main .container section #question p span {
  font-style: italic;
  text-decoration: underline;
}

main .container section #count {
  font-size: 3rem;
}

/* Center the loader */
#loader {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #333333;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

#myDiv {
  display: none;
  text-align: center;
}
