// wqeqqqqqqqqqqqq
* {
    box-sizing: border-box;
    // outline: solid red 1px;
    padding: 5px;
}
body {
    background-color: black;
    color: wheat;
    text-align: center;
}
.data {
    display: flex;
}
.data div {
    width: 50%;
    padding: 5px 0;
}
.fastest {
    background-color: rgb(2, 20, 78);
}
.results {
    display: flex;
}
.results div {
    width: 50%;
}