button {
    @include button;

    &#add-btn {
        background-color: $blue;
        position: relative;
        margin: auto;
        margin-top: 20px;
    }
    &#remove-btn {
        @extend #add-btn;
        background-color: $red;
    }
    &.confirm {
        background-color: $green;
    }
    &.cancel {
        background-color: $red;
    }
    &.edit {
        background-color: $yellow;
    }
}