section {
    border-top: 2px solid $blue;
    border-bottom: 2px solid $blue;
    margin-top: 20px;

    #container {
        width: 100%;
        max-width: 960px;
        padding: 30px;
        margin: auto;

        .item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px 10px;

            &[class=item]:nth-child(2n) {
                background-color: lightcyan;
            }

            .btn-wrap {
                @extend .item;
            }
        }
    }
}