@mixin button {
    display: block;
    min-width: 100px;
    border-radius: 10px;
    border: none;
    padding: 10px 15px;
    color: #FFF;
    font-weight: 300;
    text-transform: lowercase;
    cursor: pointer;
    transition: all ease 100ms;

    &:hover {
        filter: brightness(1.1);
    }

    &:focus {
        outline: none;
    }

    &:active {
        box-shadow: inset 0 0 8px $black;
    }

    &:nth-child(2) {
        margin-left: 20px;
    }
}