.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $black;

    .modal-wrap {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        position: relative;
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border-radius: 15px;
        border: 2px solid $blue;
        width: 80%;
        max-width: 720px;

        form {
            width: 100%;
            border-bottom: 1px solid $black;
        }
        input {
            margin-bottom: 15px;
            padding: 10px;
            width: 100%;

            &::placeholder {
                font-style: italic;
            }
        }
        .btn-wrap {
            display: flex;
            margin-top: 15px;
        }
    }

    &#confirmation-modal .modal-wrap{
        flex-direction: column;
        align-items: center;
        width: 40%;
        max-width: 360px;

        p {
            text-align: center;
            width: 100%;
        }
    }
}