@import '_variables.scss';
@import '_mixins.scss';
@import '_btns.scss';
@import '_content.scss';
@import '_modals.scss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}