.zalias_kvadratas {
    width: 300px;
    height: 300px;
    background-color: green;
    margin: auto;
    margin-top: 200px;
    transition: all ease 1s;
}

.raudonas_apskritimas {
    width: 300px;
    height: 300px;
    background-color: red;
    margin: auto;
    margin-top: 200px;
    border-radius: 100%;
    transition: all ease 1s;
}