* {
    box-sizing: border-box;
}
h1 {
    text-align: center;
}
#pirmas, #antras {
    padding: 3px 40px;
    border: 5px solid rgba(11, 11, 235, 0.753);
    border-radius: 30px;
    box-shadow: 0px 0px 10px 10px rgb(0, 0, 0);
    outline: none;
}
#pirmas:hover, #antras:hover {
    cursor: pointer;
}
.flex {
    display: flex;
    justify-content: space-around;
}
.flex2 {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
table {
    padding: 40px 10px;
    border: 2px solid #000;  
}
tr , td {
    border: solid 1px #000;
    padding: 10px;
    text-align: center;
}
th {
    padding: 5px 20px;
}
.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}