.board {
    width: 80vh;
    height: 80vh;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-gap: 1vh;
}

.cell_light {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell_dark {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell_info {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#figure00::after {
    color: white;
    content: "\2659";
}

#figure01::after {
    color: white;
    content: "\2659";
}

#figure02::after {
    color: white;
    content: "\2659";
}

#figure03::after {
    color: white;
    content: "\2659";
}

#figure04::after {
    color: white;
    content: "\2659";
}

#figure05::after {
    color: white;
    content: "\2659";
}

#figure06::after {
    color: white;
    content: "\2659";
}

#figure07::after {
    color: white;
    content: "\2659";
}

#figure1::after {
    color: white;
    content: "\2656";
}

#figure11::after {
    color: white;
    content: "\2656";
}

#figure2::after {
    color: white;
    content: "\2658";
}

#figure22::after {
    color: white;
    content: "\2658";
}

#figure3::after {
    color: white;
    content: "\2657";
}

#figure33::after {
    color: white;
    content: "\2657";
}

#figure4::after {
    color: white;
    content: "\2655";
}

#figure5::after {
    color: white;
    content: "\2654";
}

#figure90::after {
    color: green;
    content: "\2659";
}

#figure91::after {
    color: green;
    content: "\2659";
}

#figure92::after {
    color: green;
    content: "\2659";
}

#figure93::after {
    color: green;
    content: "\2659";
}

#figure94::after {
    color: green;
    content: "\2659";
}

#figure95::after {
    color: green;
    content: "\2659";
}

#figure96::after {
    color: green;
    content: "\2659";
}

#figure97::after {
    color: green;
    content: "\2659";
}

#fi1::after {
    color: green;
    content: "\2656";
}

#fi11::after {
    color: green;
    content: "\2656";
}

#fi2::after {
    color: green;
    content: "\2658";
}

#fi22::after {
    color: green;
    content: "\2658";
}

#fi3::after {
    color: green;
    content: "\2657";
}

#fi33::after {
    color: green;
    content: "\2657";
}

#fi4::after {
    color: green;
    content: "\2655";
}

#fi5::after {
    color: green;
    content: "\2654";
}

* {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}