* {
    box-sizing: border-box;
}


table {
    display:block;
    margin:auto;
    margin-top:50px;
    width:800px;
    height:400px;
    border:solid 2px black;
}
tr {
    width: 798px;
    display: flex;
    justify-content: space-around;
    border:solid 2px black;
}

.box {
    margin-top: 50px;
    display:flex;
    justify-content: center;
}
button {
    background-color:rgb(143, 167, 111);
    
}
button:hover {
    background-color: rgb(91, 122, 99);
}
.mygtukaibox {
   display:flex;
   justify-content: flex-end;
   margin-right: 100px;
}
.modal-content {
    padding:15px;
}
.save {
    margin-right: 5px;
}
.x {
    align-self: flex-end;
    margin-bottom: 20px;
}