body {
    background-color: grey;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 50em;
    
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 600px;
    padding: 15px;
    background-color: yellow;
    border-radius: 10px;
    position: absolute;   
    border-style:initial;
}
input{
    padding: 15px;
    margin-right: 15px;
    border-radius: 10px;
    border-style:initial;
    text-align: center;
    cursor: pointer;
}
button{
    padding: 15px;
    margin-right: 15px;
    border-radius: 10px;
    border-style:initial;
    text-align: center;
    cursor: pointer;
}

