.stebuklai {
    margin-left: 200px;
}

input, button, select {
    padding: 5px 10px;
    border: 2px solid rgb(255, 51, 0);
    border-radius: 20px;
    outline: none;
    background-color: rgb(206, 224, 41);
}
button:hover {
    cursor: pointer;
}
#deziu_laukas {
    display: flex;
    flex-wrap: wrap;
}
.blue {
    background: rgb(30, 20, 219);
    border-radius: 15px;
}
.purple {
    background: rgb(255, 0, 255);
    border-radius: 15px;
}
.yellow {
    background: rgb(238, 255, 0);
    border-radius: 15px;
}
.green {
    background: rgb(0,255,68);
    border-radius: 15px;
}
.red {
    background: rgb(255,0,0);
    border-radius: 15px;
}
#deziu_laukas > div {
    cursor: pointer;
    border: 1px solid #fff;
    position: relative;
}

#deziu_laukas > div:hover {
    animation: shake 0.5s;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(10deg); }
    10% { transform: translate(-1px, -2px) rotate(-2deg); }
    20% { transform: translate(-3px, 0px) rotate(2deg); }
    30% { transform: translate(3px, 2px) rotate(45deg); }
    40% { transform: translate(1px, -1px) rotate(2deg); }
    50% { transform: translate(-1px, 2px) rotate(-2deg); }
    60% { transform: translate(-3px, 1px) rotate(10deg); }
    70% { transform: translate(3px, 1px) rotate(-45deg); }
    80% { transform: translate(-1px, -1px) rotate(2deg); }
    90% { transform: translate(1px, 2px) rotate(1deg); }
    100% { transform: translate(1px, -2px) rotate(-2deg); }
  }


