@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

$white: rgba(255, 255, 255, 0.3);
$black: rgba(0, 0, 0, 0.8);

* {
    box-sizing: border-box;
}
body {
    background-color: teal;
    font-family: 'Montserrat', sans-serif;
}

.pw-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 3px solid #FFF;
    background-color: $white;
    overflow: hidden;

    label {
        width: 100%;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.75rem;
        letter-spacing: 1px;
        color: #FFF;
        margin-bottom: 5px;
    }
    input {
        width: 100%;
        height: 40px;
        padding: 10px;
        margin-bottom: 10px;
        border: none;
        transition: all ease 300ms;

        &[type=password] {
            letter-spacing: 2px;
            font-weight: 700;

            &.error {
                border: 2px solid red;
            }
        }

        &:focus {
            outline: none;
            background-color: lightskyblue;
        }
        
        &#submit-pw {
            margin-top: 15px;
            margin-bottom: 0;
            background-color: white;
            text-transform: uppercase;

            &:hover {
                cursor: pointer;
                background-color: lightgreen;
                letter-spacing: 16px;
            }
        }
    }
    .load-wrap {
        position: absolute;
        z-index: 0;
        top: 0;
        background-color: $black;
        display: flex;
        justify-content: center;
        width: 500px;
        height: 240px;
        clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
        transition: all ease 300ms;
        
        &.show {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }

        .spinner {
            position: absolute;
            z-index: 10;
            top: 0;
            margin: 100px auto;
            width: 50px;
            height: 40px;
            text-align: center;
            font-size: 10px;

            > div {
                background-color: #FFF;
                height: 100%;
                width: 6px;
                display: inline-block;
                
                -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
                animation: sk-stretchdelay 1.2s infinite ease-in-out;
            }

            .rect2 {
                -webkit-animation-delay: -1.1s;
                animation-delay: -1.1s;
            }
            .rect3 {
                -webkit-animation-delay: -1.0s;
                animation-delay: -1.0s;
            }
            .rect4 {
                -webkit-animation-delay: -0.9s;
                animation-delay: -0.9s;
            }
            .rect5 {
                -webkit-animation-delay: -0.8s;
                animation-delay: -0.8s;
            }
        }
    }
    @-webkit-keyframes sk-stretchdelay {
        0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
        20% { -webkit-transform: scaleY(1.0) }
    }
      
    @keyframes sk-stretchdelay {
        0%, 40%, 100% { 
          transform: scaleY(0.4);
          -webkit-transform: scaleY(0.4);
        }  20% { 
          transform: scaleY(1.0);
          -webkit-transform: scaleY(1.0);
        }
    }
}
footer {
    position: absolute;
    width: 100%;
    bottom: 20px;
    color: #FFF;
    font-size: 0.75rem;
    text-align: center;
    
    span {
        display: inline-block;
        margin-left: 2px;
        text-transform: uppercase;
    }
}