.raudonas {
    width: 100px;
    height: 100px;
    background-color: rgb(185, 28, 28);
    margin: auto;
    margin-top: 50px;
    transition: all ease 1s;
}
.zalias {
    background-color: rgb(46, 139, 87);
    border-radius: 100%;
    
}