.custom_button {
    background-color: blue;
    border: 1px solid #000;
    color: #fff;
    border-radius: 5px;
    padding: 3px 20px;
    text-transform: uppercase;
}
#lenta {
    border: 3px solid #000;
    text-align: center;
}
th, td {
    border: 1px solid #000;
    padding: 2px 5px;
}
