.elem {
    display: flex;
    justify-content: center;
    align-items: center;
}
label {
    width: 30%;
    text-align: right;
}

input {
    width: 30%;

}
button {
    display: block;
    margin-top: 2em;
    margin-right: auto;
    margin-left: auto;

}

table, th, td {
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
    padding:10px;
    margin-top: 2em;
    margin-right: auto;
    margin-left: auto;
}
thead {
    background-color: rgb(238, 238, 238);
    text-transform: uppercase;
}
