.figure {
    font-size: 4rem;

    &.white {
        &.rook:after {
            content: "\2656";
        }
        &.knight:after {
            content: "\2658";
        }
        &.bishop:after {
            content: "\2657";
        }
        &.queen:after {
            content: "\2655";
        }
        &.king:after {
            content: "\2654";
        }
        &.pawn:after {
            content: "\2659";
        }
    }

    &.black {
        &.rook:after {
            content: "\265C";
        }
        &.knight:after {
            content: "\265E";
        }
        &.bishop:after {
            content: "\265D";
        }
        &.queen:after {
            content: "\265B";
        }
        &.king:after {
            content: "\265A";
        }
        &.pawn:after {
            content: "\265F";
        }
    }
}