@import '_variables.scss';
<<<<<<< HEAD

=======
@import '_chess-board.scss';
>>>>>>> c3efd5496ab1d1604a8a22ea3a054d56b1fd8317
* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
.chess-wrap {
    display: flex;
    width: 100%;
    padding: 20px;

<<<<<<< HEAD
    .board {
        width: fit-content;
        border: 4px solid gold;
        border-radius: 5px;
        display: grid;
        grid-template: repeat(8, 1fr) / repeat(8, 1fr);
        grid-template-areas:         
            "a1 b1 c1 d1 e1 f1 g1 h1"
            "a2 b2 c2 d2 e2 f2 g2 h2"
            "a3 b3 c3 d3 e3 f3 g3 h3"
            "a4 b4 c4 d4 e4 f4 g4 h4"
            "a5 b5 c5 d5 e5 f5 g5 h5"
            "a6 b6 c6 d6 e6 f6 g6 h6"
            "a7 b7 c7 d7 e7 f7 g7 h7"
            "a8 b8 c8 d8 e8 f8 g8 h8";

        .cell {
            width: $length;
            max-width: 80px;
            height: $length;
            max-height: 80px;
=======
    .wrap {
        width: 51%;
        display: flex;
        flex-wrap: wrap;

        span {
            display: block;
        }

        .letters {
            display: flex;
            justify-content: space-around;
            padding-left: 19px;
            width: 100%;
            margin-bottom: 5px;
        }

        .numbers {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-right: 10px;
        }
    }
    
    .board {
        display: grid;
        grid-template: repeat(8, 1fr) / repeat(8, 1fr);

        .cell {
            width: $length;
            height: $length;
>>>>>>> c3efd5496ab1d1604a8a22ea3a054d56b1fd8317
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #000;

            &--black {
                background-color: $black;
            }
        }

        .figure {
<<<<<<< HEAD
            font-family: Tahoma;
            font-size: 2rem;
        }


    }

    .log {
        width: 100%;
        border: 4px solid gold;
        border-radius: 5px;
        background-color: #000;
        margin-left: 20px;
=======
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            text-align: center;
        }
    }

    .log {
        width: calc(20%);
        margin-top: 23px;
        margin-left: 20px;
        padding: 10px;
        border-radius: 5px;
        background-color: $black;
        height: 48vw;
        overflow: auto;
        font-size: 1rem;
        line-height: 1.5;

        &::first-line {
            background-color: lightgoldenrodyellow;
            font-weight: bold;
        }
>>>>>>> c3efd5496ab1d1604a8a22ea3a054d56b1fd8317
    }
}