* {
    box-sizing: border-box;
}
input, select, button {
    margin-top: 2em;
    width: auto;
    padding: .5em .5em;
    border-radius: 7px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12pt;
}
button {
    background-color: #DDDDDD;
    color: #888888;
    text-align: center;

}
button:hover {
    cursor: pointer;
    box-shadow: 24px 9px 14px #696969;

}
#container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
}
.block {
    cursor: pointer;
    position: relative;
    
}