* {
    box-sizing: border-box;
}
header {
    text-align: center;
}
main {
    text-align: center;
}
table {
    margin: auto;
    margin-top: 30px;
}
#duomenys th, td {
    border: solid black 2px;
    padding: 5px;
}
.red_button {
    background-color: rgb(214, 51, 51);
}
.green_button {
    background-color: rgb(25, 105, 25);
}
.red_button:hover {
    background-color: rgb(243, 6, 6);
}
.green_button:hover {
    background-color: rgb(20, 204, 20);
}
#btn_taisyti {
    border: 0;
    margin-right: 10px;
    padding: 5px;
    background-color: rgb(25, 105, 25);
    color: #ffffff;
    border-radius: 6px;
}
#btn_naikinti {
    border: 0;
    background-color: rgb(214, 51, 51);
    padding: 5px;
    color: #ffffff;
    border-radius: 6px;
}
#btn_naikinti:hover {
    background-color: rgb(243, 6, 6);
    border-radius: 6px;
}
#btn_taisyti:hover {
    background-color: rgb(20, 204, 20);
    border-radius: 6px;
}
.new_button {
    background-color: orangered;
}
.new_button:hover {
    background-color: rgb(116, 50, 27);
}
.new_button:focus {
    background-color: rgb(116, 50, 27);
}
.new_button:active {
    background-color: rgb(116, 50, 27);
}
.btn_atsaukti {
    background-color: rgb(214, 51, 51);
}
.btn_atsaukti:hover {
    background-color: rgb(243, 6, 6);
}
