body {
    background: rgb(221,24,48);
    background: linear-gradient(90deg, rgba(221,24,48,1) 0%, rgba(79,57,67,1) 28%, rgba(0,0,0,1) 100%);
}
h2 {
    text-align: center;
    color: #ffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.form_container {
    display: flex;
}
form {
    margin-top: 50px;
    display: grid;
    margin-right: auto;
    margin-left: auto;
}
#spineris {
    display: flex;
}
input {
    padding: 10px 20px;
    border: 0;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button {
    padding: 10px 20px;
    background-color: rgb(236, 125, 125);
    border: 0;
    color: #ffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-top: 4px solid #FFF;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    display: none;
  }
  #loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-left: 4px solid #FF3D00;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 