* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

p,
h1 {
  text-align: center;
}

h1 {
  font-size: 1.8rem;
}

p {
  margin-top: 40px;
}

div {
  color: #333333;
}

main .container {
  margin: 0 auto;
  margin-top: 40px;
  width: 920px;
}

main .container section {
  position: relative;
  border: 2px solid darkgrey;
  padding: 20px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

main .container section div.top {
  position: absolute;
  top: 0;
  padding: 0 20px;
  background-color: #fff;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

main .container section form.data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  width: 100%;
  padding: 20px 40px 0;
}

main .container section form.data input {
  width: 80%;
  height: 2.24rem;
  color: #464646;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: none;
  font-size: 1.4rem;
  padding: 0 20px;
  margin-right: 0;
  border: 2px solid #333333;
  border-right: none;
  outline: none;
}

main .container section form.data button {
  width: 20%;
  height: 3rem;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #242424;
  color: #eeeeee;
  height: 36px;
  cursor: pointer;
  border: none;
  outline: none;
  margin: 10px;
  padding-left: 0;
  margin-left: 0;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

main .container section form.data button:hover {
  background-color: #474C47;
}

main .container section form.data button:active {
  background-color: #563E1E;
}

main .container section form.data > div:not(.top) {
  margin-top: 12px;
}

main .container section form.data div#date-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

main .container section form.data div#date-time > div {
  margin: 0 10px;
}

main .container section form.data:hover input {
  border: 2px solid #474C47;
  border-right: none;
}

main .container section div.parent {
  width: 100%;
  padding: 20px;
}

main .container section div.parent .done {
  background-color: lightgreen;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #575757;
}

main .container section div.parent .done:hover {
  background-color: #7DED7D;
}

main .container section div.parent > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  position: relative;
  background-color: lightcoral;
  margin: 1.4rem;
  padding: 1.8rem 1.8rem 1.2rem 1.8rem;
  border-radius: 4px;
  font-size: 1.4rem;
}

main .container section div.parent > div span:nth-child(1) {
  display: block;
  left: 50%;
  top: 0.6rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  font-size: 0.8rem;
  font-weight: bold;
  color: #464646;
}

main .container section div.parent > div span:nth-child(2) {
  display: block;
  right: 0.2rem;
  top: 0.2rem;
  position: absolute;
  height: 1.4rem;
  width: 1.4rem;
  z-index: 1;
}

main .container section div.parent > div span:nth-child(2)::after {
  content: "\2715";
  display: block;
  color: #eeeeee;
  text-align: center;
  position: absolute;
  right: 0.2rem;
  top: 0.2rem;
  width: 1.4rem;
  height: 1.4rem;
  font-size: 1.4rem;
  padding: 0;
  margin: 0;
}

main .container section div.parent > div span:nth-child(2):hover::after {
  font-size: 1.6rem;
}

main .container section div.parent > div:hover:not(.done) {
  background-color: #EF6E6E;
}
