
.raudonas {
    background-color: red;
    width:250px;
    height:250px;
    margin-left: auto;
    margin-right: auto;
    margin-top:100px;
    transition: ease-in-out 1s;
}
.animacija1 {
    border-radius: 100%;
    background-color: green;
    
}