* {
    box-sizing: border-box;
}
body {
    background: rgb(117, 110, 248);
}
.darbai {
    text-align: center;
}
h3 {
    color: rgb(255, 255, 255)
}
h1 {
    color: rgb(255, 230, 0);
}
input {
    padding: 10px;
    width: 300px;
    border-radius: 5%;
}
button {
    padding: 10px 25px;
    cursor: pointer;
    background-color: rgb(214, 211, 19);
    border-radius: 10%;
}
li {
    position: relative;
    list-style: none;
    background-color: rgb(0, 243, 252);
    background-repeat: no-repeat;
    border: 1px solid black;
    border-radius: 5%;
    width: 40vw;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    padding: 7px;
    font-size: 20px;
    text-align: left;
    cursor: pointer;
}
li:hover {
    background-color: rgb(238, 233, 161);
}
ul li.checked {
    background-color: rgb(22, 204, 22);
    text-decoration: line-through;
    cursor: pointer;

  }
.rytoj {
    position: absolute;
    right: 0;
    padding-right: 5px;
    color: rgb(201, 51, 51);
    font-weight: 800;
  }
