.board_wraper{
    width: 65%;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.board{
    width: 10em;
    height: 10em;
    display: grid;
    grid-template-columns: 50% 50% 50% 50% 50% 50% 50% 50%;
    grid-template-rows: 50% 50% 50% 50% 50% 50% 50% 50%;
    grid-gap: 4px;
}
.cell_1{
    // background-color: lightblue;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    box-shadow: 0 0 0 2pt black;
}
.cell_2{
    // background-color: lightyellow;
    background-color: coral;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    box-shadow: 0 0 0 2pt black;
}