.board_wraper {
  width: 65%;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.board {
  width: 10em;
  height: 10em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50% 50% 50% 50% 50% 50% 50%;
      grid-template-columns: 50% 50% 50% 50% 50% 50% 50% 50%;
  -ms-grid-rows: 50% 50% 50% 50% 50% 50% 50% 50%;
      grid-template-rows: 50% 50% 50% 50% 50% 50% 50% 50%;
  grid-gap: 4px;
}

.cell_1 {
  background-color: brown;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 0 2pt black;
          box-shadow: 0 0 0 2pt black;
}

.cell_2 {
  background-color: coral;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 0 2pt black;
          box-shadow: 0 0 0 2pt black;
}

#piece_a8::after {
  width: 5px;
  height: 5px;
  color: black;
  content: "\265C";
}

#piece_b8::after {
  width: 5px;
  height: 5px;
  color: black;
  content: "\265E";
}

#piece_c8::after {
  width: 5px;
  height: 5px;
  color: black;
  content: "\265D";
}

#piece_d8::after {
  width: 5px;
  height: 5px;
  color: black;
  content: "\265b";
}

#piece_e8::after {
  width: 5px;
  height: 5px;
  color: black;
  content: "\265A";
}

#piece_f8::after {
  width: 5px;
  height: 5px;
  color: black;
  content: "\265D";
}

#piece_g8::after {
  width: 5px;
  height: 5px;
  color: black;
  content: "\265E";
}

#piece_h8::after {
  width: 5px;
  height: 5px;
  color: black;
  content: "\265C";
}

#piece_a7::after {
  width: 5px;
  height: 5px;
  color: black;
  content: "\265F";
}

#piece_b7::after {
  width: 5px;
  height: 5px;
  color: black;
  content: "\265F";
}

#piece_c7::after {
  width: 5px;
  height: 5px;
  color: black;
  content: "\265F";
}

#piece_d7::after {
  width: 5px;
  height: 5px;
  color: black;
  content: "\265F";
}

#piece_e7::after {
  width: 5px;
  height: 5px;
  color: black;
  content: "\265F";
}

#piece_f7::after {
  width: 5px;
  height: 5px;
  color: black;
  content: "\265F";
}

#piece_g7::after {
  width: 5px;
  height: 5px;
  color: black;
  content: "\265F";
}

#piece_h7::after {
  width: 5px;
  height: 5px;
  color: black;
  content: "\265F";
}

#piece_a1::after {
  width: 5px;
  height: 5px;
  color: black;
  content: "\2656";
}

#piece_b1::after {
  width: 5px;
  height: 5px;
  color: black;
  content: "\2658";
}

#piece_c1::after {
  width: 5px;
  height: 5px;
  color: black;
  content: "\2657";
}

#piece_d1::after {
  width: 5px;
  height: 5px;
  color: black;
  content: "\2655";
}

#piece_e1::after {
  width: 5px;
  height: 5px;
  color: black;
  content: "\2654";
}

#piece_f1::after {
  width: 5px;
  height: 5px;
  color: black;
  content: "\2657";
}

#piece_g1::after {
  width: 5px;
  height: 5px;
  color: black;
  content: "\2658";
}

#piece_h1::after {
  width: 5px;
  height: 5px;
  color: black;
  content: "\2656";
}

#piece_a2::after {
  width: 5px;
  height: 5px;
  color: black;
  content: "\2659";
}

#piece_b2::after {
  width: 5px;
  height: 5px;
  color: black;
  content: "\2659";
}

#piece_c2::after {
  width: 5px;
  height: 5px;
  color: black;
  content: "\2659";
}

#piece_d2::after {
  width: 5px;
  height: 5px;
  color: black;
  content: "\2659";
}

#piece_e2::after {
  width: 5px;
  height: 5px;
  color: black;
  content: "\2659";
}

#piece_f2::after {
  width: 5px;
  height: 5px;
  color: black;
  content: "\2659";
}

#piece_g2::after {
  width: 5px;
  height: 5px;
  color: black;
  content: "\2659";
}

#piece_h2::after {
  width: 5px;
  height: 5px;
  color: black;
  content: "\2659";
}
/*# sourceMappingURL=chess_game.css.map */