* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

p,
h1 {
  text-align: center;
}

p {
  margin-top: 40px;
}

div {
  color: #333333;
}

main .container {
  margin: 0 auto;
  margin-top: 40px;
  width: 920px;
}

main .container #form {
  position: relative;
  border: 1px solid darkgrey;
  padding: 20px 0;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

main .container #form div.top {
  position: absolute;
  top: 0;
  padding: 0 20px;
  background-color: #fff;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

main .container #form input,
main .container #form button {
  width: 300px;
  border-radius: 4px;
}

main .container #form #date,
main .container #form #datetime {
  width: 140px;
}

main .container #form input {
  color: #464646;
}

main .container #form button {
  background-color: #242424;
  color: #eeeeee;
  height: 36px;
  cursor: pointer;
  border: none;
  outline: none;
  margin: 10px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

main .container #form button:hover {
  background-color: #474C47;
}

main .container #form button:active {
  -webkit-transform: translateX(1px) translateY(1px);
          transform: translateX(1px) translateY(1px);
}

main .container #form > div:not(.top) {
  margin-top: 12px;
}

main .container #form div#date-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

main .container #form div#date-time > div {
  margin: 0 10px;
}

main .container #table {
  margin-top: 40px;
  position: relative;
  border: 1px solid darkgrey;
  padding: 40px 24px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

main .container #table div.top {
  position: absolute;
  top: 0;
  padding: 0 20px;
  background-color: #fff;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

main .container table {
  border-collapse: collapse;
  width: 100%;
  position: relative;
}

main .container table tr {
  border: 1px solid #575757;
}

main .container table tr:nth-child(even) {
  background-color: #cfe0d0;
}

main .container table tr:hover {
  color: #eeeeee;
  background-color: #474C47;
}

main .container table tr th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #474C47;
  color: #eeeeee;
  font-size: smaller;
}

main .container table tr td,
main .container table tr th {
  text-align: center;
  width: 18%;
  padding: 12px;
}

main .container table tr td:nth-child(6),
main .container table tr th:nth-child(6) {
  width: 10%;
  color: #e63946;
}

main .container table tr td {
  position: relative;
  border: 1px solid #575757;
}

main .container table tr td:hover:not(:nth-child(5)):not(:nth-child(6)) {
  color: #242424;
  background-color: #fdb757;
  cursor: pointer;
}

main .container table tr td:hover:not(:nth-child(5)):not(:nth-child(6))::after {
  content: "pakeisti duomenis";
  display: block;
  color: #e63946;
  text-align: center;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  font-size: 14px;
  z-index: 1;
}

main .container table tr td:hover.delete {
  color: #eeeeee;
  background-color: #e63946;
  cursor: pointer;
}
