/* susidedam spalvas */
* {
    box-sizing: border-box;
}
.blue {
    background-color: blue;
}
.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}
.black {
    background-color: black;
}
.orange {
    background-color: orange;
}
/* imetam flex del lygiavimo */
#blokai {
    display:flex;
    flex-wrap: wrap;
    max-width: fit-content;
}