.board_container {
    width: 680px;
    height: 680px;
    display: flex;
    flex-wrap: wrap; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px; 
    border: 20px solid burlywood; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}