<<<<<<< HEAD
=======
.figure {
  font-size: 4rem;
}

.figure.white.rook:after {
  content: "\2656";
}

.figure.white.knight:after {
  content: "\2658";
}

.figure.white.bishop:after {
  content: "\2657";
}

.figure.white.queen:after {
  content: "\2655";
}

.figure.white.king:after {
  content: "\2654";
}

.figure.white.pawn:after {
  content: "\2659";
}

.figure.black.rook:after {
  content: "\265C";
}

.figure.black.knight:after {
  content: "\265E";
}

.figure.black.bishop:after {
  content: "\265D";
}

.figure.black.queen:after {
  content: "\265B";
}

.figure.black.king:after {
  content: "\265A";
}

.figure.black.pawn:after {
  content: "\265F";
}

>>>>>>> c3efd5496ab1d1604a8a22ea3a054d56b1fd8317
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.chess-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
}

<<<<<<< HEAD
.chess-wrap .board {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 4px solid gold;
  border-radius: 5px;
=======
.chess-wrap .wrap {
  width: 51%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.chess-wrap .wrap span {
  display: block;
}

.chess-wrap .wrap .letters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 19px;
  width: 100%;
  margin-bottom: 5px;
}

.chess-wrap .wrap .numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 10px;
}

.chess-wrap .board {
>>>>>>> c3efd5496ab1d1604a8a22ea3a054d56b1fd8317
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[8];
  -ms-grid-columns: (1fr)[8];
      grid-template: repeat(8, 1fr)/repeat(8, 1fr);
<<<<<<< HEAD
      grid-template-areas: "a1 b1 c1 d1 e1 f1 g1 h1" "a2 b2 c2 d2 e2 f2 g2 h2" "a3 b3 c3 d3 e3 f3 g3 h3" "a4 b4 c4 d4 e4 f4 g4 h4" "a5 b5 c5 d5 e5 f5 g5 h5" "a6 b6 c6 d6 e6 f6 g6 h6" "a7 b7 c7 d7 e7 f7 g7 h7" "a8 b8 c8 d8 e8 f8 g8 h8";
}

.chess-wrap .board .cell {
  width: 8vw;
  max-width: 80px;
  height: 8vw;
  max-height: 80px;
=======
}

.chess-wrap .board .cell {
  width: 6vw;
  height: 6vw;
>>>>>>> c3efd5496ab1d1604a8a22ea3a054d56b1fd8317
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #000;
}

.chess-wrap .board .cell--black {
<<<<<<< HEAD
  background-color: rgba(0, 0, 0, 0.3);
}

.chess-wrap .board .figure {
  font-family: Tahoma;
  font-size: 2rem;
}

.chess-wrap .log {
  width: 100%;
  border: 4px solid gold;
  border-radius: 5px;
  background-color: #000;
  margin-left: 20px;
=======
  background-color: rgba(0, 0, 0, 0.2);
}

.chess-wrap .board .figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.chess-wrap .log {
  width: calc(20%);
  margin-top: 23px;
  margin-left: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  height: 48vw;
  overflow: auto;
  font-size: 1rem;
  line-height: 1.5;
}

.chess-wrap .log::first-line {
  background-color: lightgoldenrodyellow;
  font-weight: bold;
>>>>>>> c3efd5496ab1d1604a8a22ea3a054d56b1fd8317
}
