* {
    box-sizing: border-box;
}

body{
    height: 100%;
    background-color: #111;
    font-family: 'Work Sans', sans-serif;
}

h1 {
    color: #fff;
    font-size: 3rem;
    font-weight: 50;
    text-align: center;
    margin: 1rem 0 3rem; 
}

.title{
    color: rgb(250, 146, 11);
    text-transform: uppercase;
    font-weight: 700;
}

.inputDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input{
    padding: 0.5rem 1rem;
    border: none;
    height: 50px;
    border-radius: 25px;
    width: 350px;
    margin: 0.25rem;
    transition: .5s;
    font-size: 1.15rem;
    outline: none;
}

.add{
    font-size: larger;
    font-weight: bold;
    border: none;
    height: 50px;
    border-radius: 100%;
    width: 50px;
    background-color: rgb(250, 146, 11);
    color: white;
    cursor: pointer;
    transition: .5s;
    margin: 0.25rem;
    outline: none;
}

.add:hover{
    opacity: 0.7;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 2rem;

}

li {
    text-align: left;
    color: #fff;
    font-size: 1.4rem;
    padding: 0.5rem;
    border-bottom: 2px solid #fff;
    margin-bottom: 1.5rem;
    list-style: inside;
}
.done {
    text-decoration: line-through;
}

.remove{
    background: none;
    border: none;
    color: rgb(182, 30, 30);
    font-size: 1rem;
    margin: 0 0.5rem;
    cursor: pointer;
    outline: none;
}
