* {
    box-sizing: border-box;
}
input, button, select {
    padding: 5px 10px;
    border: 2px solid blue;
    border-radius: 10px;
    outline: none;
    background-color: rgb(187, 187, 187);
}
button:hover {
    cursor: pointer;
}
#box {
    display: flex;
    flex-wrap: wrap;
}
.blue {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(76,76,97,1) 37%, rgba(0,212,255,1) 100%);
}
.black {
    background: black;
}
.yellow {
    background: rgb(236,255,0);
    background: radial-gradient(circle, rgba(236,255,0,1) 29%, rgba(255,145,0,1) 72%, rgba(0,0,0,1) 92%);
}
.green {
    background: rgb(0,255,68);
    background: radial-gradient(circle, rgba(0,255,68,1) 5%, rgba(0,211,255,1) 61%, rgba(214,190,232,1) 97%);
}
.red {
    background: rgb(255,0,0);
    background: radial-gradient(circle, rgba(255,0,0,1) 4%, rgba(245,255,0,1) 55%, rgba(0,0,0,1) 100%);
}
#box > div {
    cursor: pointer;
    border: 1px solid #fff;
}
.hidden {
    opacity: 0;
}