.container{
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}
.dataIvedimas_1{
    display: flex;  
    justify-content: space-evenly;
    background-color: rgb(197, 197, 236) ; 
}
input{
    width: 8%;
    // margin-left: 5px;
    // margin-right: 20px;
    border: 0;
    background-color: rgb(119, 119, 214);
    // border-radius: 25%;
    color: #fff;
    padding: 10px;
}
::placeholder{
    color: #fff;
    opacity: 0.8;
}
th, tr, td, tbody, thead{
    border: 0;
    min-height: 20px;
    background-color: rgb(119, 119, 214);
    padding: 20px;
}
.lentele{
    display: flex;
    justify-content: center;
    background-color:  rgb(197, 197, 236);
}
table{
    margin-top: 35px;
    color: #fff;
}
.btnsubmit{
    width: 20%;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    background-color: #7777d6;
    color: #fff;
    padding: 15px;
    /* padding-bottom: 61px; */
    /* padding-top: 40px; */
    // border-radius: 0% 0 0% 0%;
    font-size: 16px;
    font-weight: 700;
    transform: translateX(366px);
}
#datalaikas{
    width: 15%;
}
td{
    min-height: 15px;
}
label{
    transform: translateY(10px);
    color: rgb(88, 88, 187);
    font-weight: 800;
}
h2{
    text-align: center;
    color: #5454a1;
    margin-top: 0px;
    background-color: rgb(197, 197, 236);
    // width: 80%;
    // transform: translateX(106px);
    padding-bottom: 25px;
    padding-top: 40px;
    margin: 0;
    margin-top: 40px;
    border-radius: 50% 50% 0 0;
}
