.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.dataIvedimas_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #c5c5ec;
}

input {
  width: 8%;
  border: 0;
  background-color: #7777d6;
  color: #fff;
  padding: 10px;
}

::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.8;
}

:-ms-input-placeholder {
  color: #fff;
  opacity: 0.8;
}

::-ms-input-placeholder {
  color: #fff;
  opacity: 0.8;
}

::placeholder {
  color: #fff;
  opacity: 0.8;
}

th, tr, td, tbody, thead {
  border: 0;
  min-height: 20px;
  background-color: #7777d6;
  padding: 20px;
}

.lentele {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #c5c5ec;
}

table {
  margin-top: 35px;
  color: #fff;
}

.btnsubmit {
  width: 20%;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0;
  background-color: #7777d6;
  color: #fff;
  padding: 15px;
  /* padding-bottom: 61px; */
  /* padding-top: 40px; */
  font-size: 16px;
  font-weight: 700;
  -webkit-transform: translateX(366px);
          transform: translateX(366px);
}

#datalaikas {
  width: 15%;
}

td {
  min-height: 15px;
}

label {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  color: #5858bb;
  font-weight: 800;
}

h2 {
  text-align: center;
  color: #5454a1;
  margin-top: 0px;
  background-color: #c5c5ec;
  padding-bottom: 25px;
  padding-top: 40px;
  margin: 0;
  margin-top: 40px;
  border-radius: 50% 50% 0 0;
}
/*# sourceMappingURL=main.css.map */