* {
    box-sizing: border-box;
}
body {
    background-color: #bfe8e8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#forma1, #forma2 {
    display:flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 2em;

}
input {
    margin: 1em 0;
    padding: 0.5em 1em;
    border-radius: 5px;
}
button {
    padding: 0.5em 1em;
    background-color: #000C0C;
    color: #bfe8e8;
    text-transform: uppercase;
    font-size: 700;
    outline: none;
    border-radius: 5px;
}
.infoDiv, .auto-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    margin: auto;
}
.infoDiv > div, .auto-row > div {
    padding: .5em;
    
}
.infoDiv:nth-child(odd), .auto-row:nth-child(odd) {
    background-color: #053939;
    color: #bfe8e8;
}
.auto-row.greiciausias {
    color: rgb(192, 43, 43);
    font-size: bolder;
    background-color: #13d6d6;
    text-decoration: underline;
}
