* {
    box-sizing: border-box;
}
#chess {
    display: flex;
    flex-wrap: wrap;
    width: 410px;
    height: 400px;
    justify-content: center;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: 100px;
}
.langelis {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #000; */
    font-size: 40px;
}
.black {
    background-color: gray;
    /* border: 1px solid #000; */
}
.eile {
    align-self: center;
}
.eile2 {
    display: flex;
    width: 400px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 10px;
}
#figure_black_pawn:hover, #figure_white_pawn:hover, .drag:hover {
    cursor: grab;
}
#figure_black_pawn:active, #figure_white_pawn:active, .drag:active {
    cursor: grabbing;
}