h1 {
    text-align: center;
    color: blueviolet;
}

h4 {
    text-align: center;
    color: rgb(57, 124, 184);
}

#laukelis {
    width: 500px;
    display: flex;
    align-self: center;
    margin-left: 0;
    margin-right: 0;
    margin: auto;
}

#todo {
    text-align: center;
    display: flex;
    align-self: center;
    margin-left: 0;
    margin-right: 0;
    margin: auto;
}

#display {
    text-align: center;
    display: flex;
    align-self: center;
    margin-left: 0;
    margin-right: 0;
    margin: auto;
}

button {
    text-align: center;
    display: flex;
    align-self: center;
    margin-left: 0;
    margin-right: 0;
    margin: auto;
}

#del {
    /* display: none; */
}


/* #todolist {
    width: 500px;
    border: 2px solid black;
    text-align: center;
    display: flex;
    align-self: center;
} */


/* .divas {
    width: 500px;
    /* border: 2px solid black; */