body {
    margin: 100px;
}



.eilute {
    display: flex;
    width: 32%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.eilute div {
    width: 3.4vw;
    height: 3.5vw;
    text-align: center;
    font-size: 35px;
}

.sviesi {
    background-color: bisque;
}

.tamsi {
    background-color: chocolate;
}