@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");
h1 {
  position: relative;
  font-size: 2.5rem;
  margin: 0;
}

h2 {
  position: relative;
  left: 0;
  margin: 0;
  margin-bottom: 20px;
  font-style: italic;
  font-weight: 300;
  text-align: left;
}

h6 {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
}

.heading-wrap {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

.heading-wrap .white-h-line {
  position: relative;
  left: -40px;
  width: 160px;
  height: 1rem;
  border: 1px solid #FFF;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
}

.instruction-wrap {
  position: relative;
  margin-top: 60px;
  padding: 20px 40px;
  border: 2px solid #FFF;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.4);
}

.instruction-wrap ul {
  list-style-type: disc;
  padding-left: 20px;
}

.instruction-wrap ul li {
  font-style: italic;
  margin-bottom: 15px;
}

.instruction-wrap ul li span {
  display: inline-block;
  padding: 2px 4px;
  background-color: #333;
  color: #FFF;
  border: 1px solid #FFF;
  border-radius: 3px;
}

body {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: lightblue;
}

.section {
  width: 100%;
}

.section .container {
  width: 100%;
  max-width: 1200px;
  padding: 0 30px;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input.section {
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
}

.input.section .input-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 30px;
  width: 100%;
  max-width: 500px;
}

.input.section .input-wrap input {
  font-family: 'Montserrat', sans-serif;
  border: 2px solid #FFF;
  line-height: 1rem;
  padding: 15px;
  -webkit-transition: all ease 500ms;
  transition: all ease 500ms;
  background-color: rgba(255, 255, 255, 0.4);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  font-size: 1rem;
  width: 100%;
  color: #333;
  border-right: none;
}

.input.section .input-wrap input::-webkit-input-placeholder {
  color: #999;
  letter-spacing: 1px;
}

.input.section .input-wrap input:-ms-input-placeholder {
  color: #999;
  letter-spacing: 1px;
}

.input.section .input-wrap input::-ms-input-placeholder {
  color: #999;
  letter-spacing: 1px;
}

.input.section .input-wrap input::placeholder {
  color: #999;
  letter-spacing: 1px;
}

.input.section .input-wrap input:focus {
  outline: none;
  border-color: teal;
}

.input.section .input-wrap button {
  font-family: 'Montserrat', sans-serif;
  border: 2px solid #FFF;
  line-height: 1rem;
  padding: 15px;
  -webkit-transition: all ease 500ms;
  transition: all ease 500ms;
  background-color: teal;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  font-size: 1rem;
  color: #FFF;
  text-transform: uppercase;
  border: none;
}

.input.section .input-wrap button:hover {
  cursor: pointer;
  text-decoration: underline;
  background-color: darkslategray;
}

.input.section .input-wrap button:focus {
  outline: none;
}

.list.section .list-heading {
  -webkit-transition: all ease 500ms;
  transition: all ease 500ms;
}

.list.section .list-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list.section .list-wrap .task {
  font-family: 'Montserrat', sans-serif;
  border: 2px solid #FFF;
  line-height: 1rem;
  padding: 15px;
  -webkit-transition: all ease 500ms;
  transition: all ease 500ms;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 30px;
  border-color: teal;
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 5px;
  transition: all ease 500ms;
}

.list.section .list-wrap .task:hover {
  border-color: #333;
}

.list.section .list-wrap .task.done {
  border-color: #FFF;
  background-color: lightgreen;
  color: #999;
  text-decoration: line-through;
}

.list.section .list-wrap .task i {
  color: teal;
  margin-left: 10px;
  -webkit-transition: color ease 500ms, border-color ease 500ms;
  transition: color ease 500ms, border-color ease 500ms;
}

.list.section .list-wrap .task i:hover {
  cursor: pointer;
  color: #333;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}
