* {
    box-sizing: border-box;
}
.container {
    max-width: 1200px;
    padding: 15px;
    margin: auto;
    font-family: sans-serif;
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .btn-wrap {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 40px;

        button {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;   
            text-transform: uppercase;
        }
        .calculate {
                background-color: tomato;
            }
    }
}
table {
        border-collapse: collapse;
        border-spacing: 0;
        
        td,th {
            border: 1px solid teal;
            padding: 10px;
            text-align: center;
        }
        td {
            color: slateblue;

            &:last-child {
                color: maroon;
                font-weight: 700;
            }
        }

        .red {
            background-color: salmon;

            td {
                color: #FFF;

                &:last-child {
                    font-style: italic;
                    text-decoration: underline;
                }
            }
        }
    }