table {
    border: 1px solid black;
    
}
td {
    border: 1px solid black; 
    padding: 0 10px;
    text-align: center;
}

th {
    border: 1px solid black; 
    padding: 0 10px;
    text-align: center;
}