* {
    text-align: center;
    font-size: 5vh;
}

ul {
    list-style-type: none;
}

li {
    margin: 5vh 40vh;
    text-align: left;
    background-color: red;
    width: 70vh;
    font-size: 4vh;
}

#enter_field {
    width: 50vh;
}