.zalias {
    width: 30vw;
    height: 30vw;
    background-color: green;
    margin: auto;
    margin-top: 50px;
    transition: all ease 1s;
}

.apskritimas {
    width: 30vw;
    height: 30vw;
    background-color: red;
    margin: auto;
    margin-top: 50px;
    border-radius: 100%;
}