* {
    box-sizing: border-box;
}
body {
    height: 100vh;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}
h1 {
    text-align: center;
    font-size: 72px;
    color: #f5f5f5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form {
    text-align: center;
}
input#auto_speed {
    margin-left: 10px;
    margin-right: 10px;
}
input#time {
    margin-right: 10px;
}
input {
    width: 270px;
    padding: 10px 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border:0;
    box-shadow:0 0 5px 4px #ec7f37;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button {
    padding: 10px 20px;
    color: #ec7f37 !important;
    text-transform: uppercase;
    background: #ffffff;
    border: 4px solid #be4f0c !important;
    font-weight: 600;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button:hover {
    color: #494949 !important;
    border-radius: 50px;
    border-color: #FF5A09 !important;
    transition: all 0.3s ease 0s;
    }
.pirminiu-div {
    display: flex;
    width: 70%;
    margin: auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-transform: capitalize;
}
.pirminiu-div > div {
    width: 50%;
    padding: 10px 20px;
}
.pirminiu-div:nth-child(odd) {
    background: #be4f0c;
}
.pirminiu-div:nth-child(even) {
    background-color: #ec7f37;
}
.pirminiu-div.cempionas {
    background: #7ebc59;
    color: #ffffff;
}

