* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

p,
h1 {
  text-align: center;
}

h1 {
  font-size: 1.8rem;
}

p {
  margin-top: 40px;
}

div {
  color: #333333;
}

main .container {
  margin: 0 auto;
  margin-top: 40px;
  width: 80vw;
}

main .container section {
  position: relative;
  border: 2px solid darkgrey;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

main .container section div.top {
  position: absolute;
  top: 0;
  padding: 0 20px;
  background-color: #fff;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

main .container section form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  width: 100%;
  padding: 0 20px 0;
}

main .container section form input {
  min-width: 20%;
  width: 50%;
  height: 2.24rem;
  color: #464646;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: none;
  font-size: 1.4rem;
  padding: 0 20px;
  margin-right: 0;
  border: 2px solid #333333;
  border-right: none;
  outline: none;
}

main .container section form input#time {
  width: 100%;
}

main .container section form input:nth-child(2) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

main .container section form button {
  min-width: 160px;
  height: 3rem;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #242424;
  color: #eeeeee;
  height: 36px;
  cursor: pointer;
  border: none;
  outline: none;
  margin: 10px;
  padding-left: 0;
  margin-left: 0;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  margin-right: 0;
}

main .container section form button:hover {
  background-color: #474C47;
}

main .container section form button:active {
  background-color: #563E1E;
}

main .container section form button#set {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

main .container section form button#setRandom {
  background-color: #fdb757;
  color: #333333;
}

main .container section form button#race {
  min-width: 320px;
}

main .container section form > div:not(.top) {
  margin-top: 12px;
}

main .container section form div#date-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

main .container section form div#date-time > div {
  margin: 0 10px;
}

main .container section form:hover input {
  border: 2px solid #474C47;
  border-right: none;
}

main .container section div.parent {
  width: 100%;
}

main .container section div.parent .data,
main .container section div.parent .race {
  height: 60px;
  margin-bottom: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  margin: 1.4rem;
  border-radius: 4px;
  font-size: 1.2rem;
}

main .container section div.parent .data .value,
main .container section div.parent .race .value {
  display: block;
}

main .container section div.parent .data .distance,
main .container section div.parent .race .distance {
  display: block;
  margin: 0 0 0 20px;
  height: 100%;
}

main .container section div.parent .data span:nth-child(1),
main .container section div.parent .race span:nth-child(1) {
  padding: 20px 8px 0px 20px;
  margin-right: 20px;
  font-size: 1.2rem;
  color: #eeeeee;
  background-color: #333333;
}

main .container section div.parent .data span:nth-child(3),
main .container section div.parent .race span:nth-child(3) {
  min-width: 160px;
  max-width: 160px;
}

main .container section div.parent .data span.max,
main .container section div.parent .race span.max {
  background-color: #e63946;
  position: relative;
}

main .container section div.parent .data span.max::after,
main .container section div.parent .race span.max::after {
  content: "WINNER!";
  display: block;
  color: #eeeeee;
  text-align: center;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.2rem;
}

main .container section div.parent .data img,
main .container section div.parent .race img {
  margin-right: 8px;
}
