* {
    box-sizing: border-box;
}
h2 {
    /* display: none; */

}
#lenta {
    display: flex;
    flex-wrap: wrap;
    width: 410px;
    height: 400px;
    justify-content: center;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: 100px;
    background-color: rgb(275, 245, 220);
}
.langelis {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
.black {
    background-color: rgb(112, 103, 113);
}

.eile {
    align-self: center;
}
.stulpeliai {
    display: flex;
    width: 400px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 10px;
    background-color: rgb(275, 245, 220);
}
