body {
    font-family: 'Fjalla One', sans-serif;
    background-color: #333;
}

.score {
    margin-top: 100px;
    text-align: center;
    font-size: 70px;
    margin-bottom: 50px;
    background: -webkit-linear-gradient(#FDC830, #F37335);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.question {
    max-width: 600px;
    margin: auto;
    line-height: 1.5;
    font-size: 45px;
    text-align: center;
    margin-bottom: 50px;
    background: -webkit-linear-gradient(#FDC830, #F37335);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button {
    margin: auto;
    font-size: 35px;
    padding: 15px 20px;
    max-width: 200px;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.button.true {
    background-color: #2ecc71;
}

.button.false {
    background-color: #e74c3c;
}

.loader {
    display: none;
}

.loader:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    margin-left: -25px;
    margin-top: -25px;
    border-top: 4px solid #ecf0f1;
    border-bottom: 4px solid #333;
    border-left: 4px solid #ecf0f1;
    border-right: 4px solid #ecf0f1;
    border-radius: 50%;
    animation: spin 0.5s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.finish,
.mainPage,
.loader {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #333;
}

.finish {
    display: none;
}

.mainPage {
    display: block;
    text-align: center;
}

.mainPage .inner {
    display: flex;
    width: 80%;
    margin: auto;
    text-align: center;
}

.mainPage img {
    height: 110px;
    width: 110px;
    margin-top: 40px;
}

.mainPage h1 {
    font-family: 'Sniglet', cursive;
    font-size: 80px;
    margin-top: 20px;
    background: -webkit-linear-gradient(#FDC830, #F37335);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.selectDifficulty,
.selectCategory {
    margin: 60px auto;
    padding: 10px 20px;
    line-height: 20px;
    max-width: 200px;
    font-family: inherit;
    text-align: center;
    background-color: #F37335;
    border: 2px solid #000;
    font-size: 18px;
    outline: none;
    cursor: pointer;
}

.mainPage button,
.restartButton {
    margin: 20px auto;
    padding: 20px;
    font-family: inherit;
    font-size: 40px;
    background: -webkit-linear-gradient(to right, #F37335, #FDC830);
    background: linear-gradient(to right, #F37335, #FDC830);
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    display: block;
}

.finalScore {
    margin: auto;
    font-size: 150px;
    z-index: 2;
    text-align: center;
    margin-top: 60px;
    background: -webkit-linear-gradient(#FDC830, #F37335);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.finish img {
    width: 300px;
    z-index: 1;
}

#firework1 {
    position: absolute;
    top: 10px;
    left: 20px;
}

#firework2 {
    position: absolute;
    top: 90px;
    right: 30px;
}

img.snoop {
    position: absolute;
    bottom: 0px;
    left: 40px;
    height: 400px;
    width: 150px;
}

.restartButton {
    position: absolute;
    left: 50%;
    bottom: 80px;
    transform: translate(-50%, 0%)
}

.wow {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

img.bottomFire1,
img.bottomFire2 {
    position: absolute;
    height: 250px;
    bottom: -20px;
}

img.bottomFire1 {
    left: 20%;  
}

img.bottomFire2 {  
    right: 20%;
}

.finish h3 {
    position: absolute;
    left: 50%;
    bottom: 40%;
    transform: translate(-50%, 0%);
    font-size: 80px;
    color: #0097e6;
}

.good {
    display: none;
}
