body {
	background: rgb(160, 18, 148);
	text-align: center;
	
}

.intro {
	margin: 30px 0px;
	font-weight: bold;
}

h1, p {
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 800;
}
#enter {
	border: none;
	padding: 5px 15px;
	border-radius: 5px;
	color: #04A1BF;
	background-color: #025F70;
	transition: all 0.75s ease;
	font-weight: normal;
}

#enter:hover{
	background-color: #02798F;
	color: black;
}

ul {
	text-align: left;
	margin-top: 20px;
}


li {
	list-style: none;
	padding: 10px 20px;
	color: #ffffff;
	text-transform: capitalize;
	font-weight: 600;
	border: 2px solid blueviolet;
	border-radius: 5px;
	margin-bottom: 10px;
	background: green;
	transition: all 0.75s ease;
	
}

li:hover {
	background:lightgreen;
}

li > button {
	font-weight: normal;
	background: none;
	border: none;
	float: right;
	color: #025f70;
	font-weight: 800;
}

input {
	border-radius: 5px;
	min-width: 65%;
	padding: 5px;
	border: none;
}


.done {
    
	color:black;
    text-decoration: line-through;
}

