* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

p,
h1 {
  text-align: center;
  color: #242424;
}

p {
  margin-top: 40px;
}

div {
  color: #333333;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .desk {
  border: 1px solid #412b15;
  background-color: #f7eee5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (8vh)[10];
      grid-template-columns: repeat(10, 8vh);
  -ms-grid-rows: (8vh)[10];
      grid-template-rows: repeat(10, 8vh);
  grid-auto-flow: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  justify-items: stretch;
}

main .desk .box,
main .desk .outer {
  background-color: #f7eee5;
  color: #242424;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .desk .even:not(.green):not(.red) {
  background-color: #412b15;
}

main .desk .odd:not(.green):not(.red) {
  background-color: #f7eee5;
}

main .desk .top {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

main .desk .left {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

main .desk .right {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

main .desk .green.odd {
  background-color: #B9F2AB;
}

main .desk .green.even {
  background-color: #30600F;
}

main .desk .red.odd {
  background-color: #F9B2AB;
}

main .desk .red.even {
  background-color: #70200F;
}

main p.white {
  font-size: 6vh;
  font-weight: bold;
  text-shadow: 1px 1px 4px black;
  color: white;
  margin: 0;
  padding: 0;
}

main p.black {
  font-size: 6vh;
  font-weight: bold;
  text-shadow: 1px 1px 4px white;
  color: #242424;
  margin: 0;
  padding: 0;
}

footer #log {
  height: 1rem;
}
