body {
    box-sizing: border-box;
   background-color: burlywood;
}

table {
    
    width: 30vw;
    margin: auto;
}

td {
    border: 1px solid red;
    border-radius: 5px;
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;

}

.div {
    width: 30vw;
    margin: auto;
    margin-top: 50px;
}

input {
    border: 1.5px solid brown;
    border-radius: 10px;
    padding: 5px 15px;
}

.div button {
    border-radius: 5px;
    background-color: cornsilk;
    color: crimson;
    padding: 5px 10px;
    text-align: center;
}

::placeholder {
    color: darkgoldenrod;
}

#btn2 {
    background-color: seashell;
    border: 2px solid red;
    border-radius: 100%;
}