* {
    box-sizing: border-box;
}
#square {
    width: 200px;
    height: 200px;
    background-color: red;
    margin-right: 0;
    margin-left: 0;
    margin: auto;
    transition: all 1s ease-in;
}
.circle {
    border-radius: 100% !important;
    background-color: green !important;
}



#box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    p {
        align-self: center;
        margin: 0;
        margin-top: 50px;
        margin-right: 5px;
        font-size: 18px;
        font-family: sans-serif;
    }
    #list {
        width: 600px;
        margin-top: 50px;
        padding: 10px;
        border-radius: 50px;
        outline: none;
    }
}
#box2 {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
}
.close:hover {
    background-color: red;
    border-radius: 100%;
}
li {
    position: relative;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 20px;
    border: 2px solid black;
    margin: 2px 100px;
    border-radius: 50px;
}
li:hover {
    background: gray;
    cursor: pointer;
}
li .checked {
    background: red;
}
.none {
    display: none;
}
  
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }
.done {
    background-color: green !important;
}  
  