.board {
    width: 10em;
    height: 10em;
    display: grid;
    grid-template-columns: 50% 50% 50% 50% 50% 50% 50% 50%;
    grid-template-rows: 50% 50% 50% 50% 50% 50% 50% 50%;
    grid-gap: 4px;
}

.cell {
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center
}

#demo {
    position: absolute;
    right: 20%;
    top: 5%;
}

#steps {
    position: absolute;
    right: 20%;
    top: 5%;
}

#figure_bokstas_k::after {
    width: 1em;
    color: white;
    content: "\265C";
}

#figure_bokstas::after {
    width: 1em;
    color: white;
    content: "\265C";
}

#figure_zirgas_k::after {
    width: 1em;
    color: white;
    content: "\265E";
}

#figure_zirgas::after {
    width: 1em;
    color: white;
    content: "\265E";
}

#figure_rikis_k::after {
    width: 1em;
    color: white;
    content: "\265D";
}

#figure_rikis::after {
    width: 1em;
    color: white;
    content: "\265D";
}

#figure_karaliene::after {
    width: 1em;
    color: white;
    content: "\265B";
}

#figure_karalius::after {
    width: 1em;
    color: white;
    content: "\265A";
}


/* 265F - pieska */

#figure_pieska_1::after {
    width: 1em;
    color: white;
    content: "\265F";
}

#figure_pieska_2::after {
    width: 1em;
    color: white;
    content: "\265F";
}

#figure_pieska_3::after {
    width: 1em;
    color: white;
    content: "\265F";
}

#figure_pieska_4::after {
    width: 1em;
    color: white;
    content: "\265F";
}

#figure_pieska_5::after {
    width: 1em;
    color: white;
    content: "\265F";
}

#figure_pieska_6::after {
    width: 1em;
    color: white;
    content: "\265F";
}

#figure_pieska_7::after {
    width: 1em;
    color: white;
    content: "\265F";
}

#figure_pieska_8::after {
    width: 1em;
    color: white;
    content: "\265F";
}


/* juodieji */

#figure_bokstas_k_juoda::after {
    width: 1em;
    color: black;
    content: "\265C";
}

#figure_bokstas_juoda::after {
    width: 1em;
    color: black;
    content: "\265C";
}

#figure_zirgas_k_juoda::after {
    width: 1em;
    color: black;
    content: "\265E";
}

#figure_zirgas_juoda::after {
    width: 1em;
    color: black;
    content: "\265E";
}

#figure_rikis_k_juoda::after {
    width: 1em;
    color: black;
    content: "\265D";
}

#figure_rikis_juoda::after {
    width: 1em;
    color: black;
    content: "\265D";
}

#figure_karaliene_juoda::after {
    width: 1em;
    color: black;
    content: "\265B";
}

#figure_karalius_juoda::after {
    width: 1em;
    color: black;
    content: "\265A";
}


/* 265F - pieska */

#figure_pieska_1_juoda::after {
    width: 1em;
    color: black;
    content: "\265F";
}

#figure_pieska_2_juoda::after {
    width: 1em;
    color: black;
    content: "\265F";
}

#figure_pieska_3_juoda::after {
    width: 1em;
    color: black;
    content: "\265F";
}

#figure_pieska_4_juoda::after {
    width: 1em;
    color: black;
    content: "\265F";
}

#figure_pieska_5_juoda::after {
    width: 1em;
    color: black;
    content: "\265F";
}

#figure_pieska_6_juoda::after {
    width: 1em;
    color: black;
    content: "\265F";
}

#figure_pieska_7_juoda::after {
    width: 1em;
    color: black;
    content: "\265F";
}

#figure_pieska_8_juoda::after {
    width: 1em;
    color: black;
    content: "\265F";
}

#a1,
#a3,
#a5,
#a7,
#b2,
#b4,
#b6,
#b8,
#c1,
#c3,
#c5,
#c7,
#d2,
#d4,
#d6,
#d8,
#e1,
#e3,
#e5,
#e7,
#f2,
#f4,
#f6,
#f8,
#g1,
#g3,
#g5,
#g7,
#h2,
#h4,
#h6,
#h8 {
    background-color: rgb(21, 202, 193);
}

#a2,
#a4,
#a6,
#a8,
#b1,
#b3,
#b5,
#b7,
#c2,
#c4,
#c6,
#c8,
#d1,
#d3,
#d5,
#d7,
#e2,
#e4,
#e6,
#e8,
#f1,
#f3,
#f5,
#f7,
#g2,
#g4,
#g6,
#g8,
#h1,
#h3,
#h5,
#h7 {
    background-color: rgb(15, 83, 80);
}